.accordion {
  background-color: $color__global-secondary;
}

.accordion__button-arrow {
  transition: transform 0.3s;
  transform: rotateZ(180deg);
}

.accordion__button {
  color: $color__text-primary-black;
  border-width: 0;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color__global-tertiary-1;

  &[aria-expanded="true"] {
    border-bottom: 1px solid $color__global-tertiary-1;

    .accordion__button-arrow {
      transform: rotateZ(0deg);
    }
  }
}

.accordion__row {
  list-style-type: none;
}

.accordion__header {
  height: $s-3xl;

  button {
    @extend %default-focus-visible;
  }
}

.accordion__body {
  display: grid;

  a {
    line-height: $s-xl;
    padding-left: $s-2xl;
    text-decoration: none;

    @include typography($typo__body-placeholder);
  }

  &[hidden] {
    display: none;
  }
}

.accordion__row:last-child {
  .accordion__button {
    border-bottom: 1px solid $color__global-tertiary-1;
  }

  .accordion__body {
    border-bottom: 1px solid $color__global-tertiary-1;
  }
}
