// The Opening Hours Editor utilizes the Dialog component.
// We aim to consolidate all Opening Hours Editor styles into a single file.
// Because is used in drupal admin area
@import "../dialog/dialog";
.opening-hours-editor-form {
  display: grid;
  background: #f8f8f8;
  padding: 2.5rem;
  width: 350px;
  line-height: 1;
}

.opening-hours-editor-form__label {
  font-weight: bold;
  color: #333;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

.opening-hours-editor-form__select,
.opening-hours-editor-form__time-input {
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #555;
  background-color: #fff;

  &:disabled {
    background-color: transparent;
  }
}

.opening-hours-editor-form__checkbox {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }

  label {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

.opening-hours-editor-form__table {
  tr > td:last-child {
    white-space: nowrap;
    text-align: right;
  }
}

.opening-hours-editor-form__submit,
.opening-hours-editor-form__remove,
.opening-hours-editor-form__cancel {
  cursor: pointer;
  border: 0;
  margin-top: 1rem;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.opening-hours-editor-form__submit {
  background-color: #22c55e;

  &:hover {
    background-color: #15803d;
  }
}

.opening-hours-editor-form__remove {
  background-color: #ef4444;

  &:hover {
    background-color: #dc2626;
  }
}

.opening-hours-editor-form__cancel {
  background-color: #d1d5db;

  &:hover {
    background-color: #a1a1aa;
  }
}

.opening-hours-editor-event-content {
  padding: 5px 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.opening-hours-editor-event-content__series-icon {
  width: 2rem;
  height: 2rem;
}

// Override Drupal's default margin for tables inside .fc to eliminate top and bottom spacing
// Fixes the issue where the selected hour starts half an hour later than the actual selection.
.fc table {
  margin: 0;
}

// Override Drupal's default border for table rows inside .fc to keep the correct styling for when an hour starts
.fc tr {
  border-bottom: unset;
}
