$_hero-column-breakpoint: "small";

// On mobile, it makes no sense to show the placeholder text,
// as it just serves the purpose to fill out the hero on desktop.
@include media-query__name($_hero-column-breakpoint, "max-width") {
  .hero--has-no-media .hero__visual {
    display: none;
  }
}

.hero__visual-inner .image-credited__image,
.hero__visual-inner .media-container--placeholder {
  width: 100%;
  aspect-ratio: 5/4;
}

.hero {
  text-decoration: none;

  // if hero-content is a link, remove text-decoration for all children
  > a {
    text-decoration: none;
  }
}

.hero__description {
  @include typography($typo__body-placeholder);
  flex-grow: 1;

  > * {
    margin-bottom: $s-md;
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__cta {
  width: 100%;
  text-decoration: none;
  max-width: $s-7xl;
}

.hero__tag {
  margin-bottom: $s-md;
  @include media-query__name($_hero-column-breakpoint) {
    margin-bottom: $s-lg;
  }
}

.hero__details {
  @include typography($typo__h5);
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: $s-md;

  &__type {
    color: $color__global-tertiary-2;
  }

  &__date {
    @include media-query__name($_hero-column-breakpoint) {
      white-space: nowrap;
    }
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__title {
  @include typography($typo__h1);
  overflow-wrap: break-word;
  margin-bottom: $s-md;

  @include media-query__name($_hero-column-breakpoint) {
    margin-bottom: $s-xl;
  }
}

.hero__price {
  @include typography($typo__h5);
  margin-bottom: $s-lg;

  @include media-query__small {
    display: none;
  }
}
