.autosuggest {
  background-color: $color__global-primary;
  outline: 1px solid $color__global-tertiary-1;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1px);
  z-index: $z-10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: $s-md;
}

.autosuggest-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color__global-black;
  opacity: 0.5;
  z-index: $z-5;
  pointer-events: none;
}
