$MODEL_CONTAINER_WIDTH: 1000px;

.modal-details {
  flex-direction: column;
  align-items: center;
  background-color: $c-global-primary;
  position: relative;

  opacity: 0;
  display: none;
  transition: opacity 0.3s;
}

.modal-show {
  display: flex;
  opacity: 1;
}

.modal-details__container {
  margin: 0px 24px;

  max-width: $MODEL_CONTAINER_WIDTH;

  @include breakpoint-s {
    margin: 0px 45px;
  }
}

.modal-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-s {
    flex-direction: row;
    align-items: center;
    padding-top: 96px;
    width: 80%;
  }
}

.modal-details__cover {
  margin: 48px 0px;
  @include breakpoint-s {
    margin: 0px;
  }
}

.modal-details__material {
  margin: 0px;

  @include breakpoint-s {
    margin: 0px 46px;
  }
}

.modal-details__tags {
  display: flex;
  grid-column-gap: 8px;
  margin-bottom: 16px;
}

.modal-details__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 0px; // To prevent wrapped text to be cutted off

  @include breakpoint-s {
    padding-bottom: 6px; // To prevent wrapped text to be cutted off
  }
}

.modal-details__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modal-details__warning {
  margin-top: 40px;
}

.modal-details__list {
  display: grid;
  grid-row-gap: 10px;
  margin-top: 40px;
}

.modal-details__banner {
  width: 100%;
  margin-top: 128px;
}

.modal-details__close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 34px;
  transition: 0.3s;
  z-index: 2;

  &:hover {
    transform: rotateZ(90deg);
  }
}
