.event-description {
  @include layout-container($layout__max-width--large);
  padding: $hero-padding-small;
  padding-top: $s-2xl;

  @include media-query__small {
    padding: $hero-padding-large;
    display: grid;
    column-gap: $s-xl;
    grid-template-columns: 1fr 320px;
  }

  @include media-query__large {
    grid-template-columns: 1fr 460px;
  }
}

.event-description__title {
  @include typography($typo__h4);
  margin-bottom: $s-md;

  @include media-query__small {
    grid-column: 1 / -1;
    margin-bottom: $s-lg;
  }
}

.event-description__info {
  display: grid;
  gap: $s-2xl;
}

.event-description__description {
  @include typography($typo__subtitle);
  max-width: $description-max-width;
  margin-bottom: $s-2xl;

  @include media-query__small {
    margin-bottom: $s-3xl;
  }
}

.event-description__links {
  margin-bottom: $s-xl;

  @include media-query__small {
    margin-bottom: 0;
  }
}

.event-description__card {
  background-color: $color__global-secondary;
  padding: $s-lg;
}

.event-description__price {
  @include typography($typo__h4);

  .ticket-category {
    text-align: end;
  }
}
