.event-description {
  padding: $hero-padding-small;
  padding-top: $s-2xl;

  @include media-query__small {
    padding: $hero-padding-large;
    display: grid;
    column-gap: $s-xl;
    grid-template-columns: repeat(2, 1fr);
  }
}

.event-description__title {
  @include typography($typo__h4);
  margin-bottom: $s-md;

  @include media-query__small {
    grid-column: 1 / -1;
    margin-bottom: $s-lg;
  }
}

.event-description__info {
  display: grid;
  gap: $s-2xl;
}

.event-description__card,
.list-description--relations {
  @include media-query__small {
    width: 50%;
    min-width: $s-7xl;
    place-self: end;
  }
}

.event-description__description {
  @include typography($typo__body-large);

  margin-bottom: $s-2xl;

  @include media-query__small {
    margin-bottom: $s-3xl;
  }
}

.event-description__links {
  margin-bottom: $s-xl;

  @include media-query__small {
    margin-bottom: 0;
  }
}

.event-description__card {
  background-color: $color__global-secondary;
  padding: $s-lg;
}

.event-description__price {
  @include typography($typo__h4);

  .ticket-category {
    text-align: end;
  }
}
