.list-page {
  @include block-spacing();
  background-color: $color__global-primary;
}

.list-page__heading {
  @include layout-container($block-max-width__large);
  @include typography($typo__h2);
}

.list-page__filters {
  @include layout-container($block-max-width__large);

  display: flex;
  margin-top: $s-lg;
  margin-bottom: $s-lg;
}
