.link-filters {
  display: flex;
  grid-column-gap: $s-lg;
}

.link-filters__tag-wrapper:last-child {
  padding-right: 0;
  padding-bottom: 0;
}

.link-filters__tag {
  @include typography($typo__body-small);

  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 0;

  &--active {
    border-bottom: 0;
  }
}

.link-filters__tag::after {
  padding-bottom: calc(18px - 14px);
}

.link-filters__counter {
  @include typography($typo__body-small);

  position: relative;
  top: -8px;
  padding-left: $s-sm;
}

.link-filters__tag:active {
  border-bottom: 0;
}

.link-filters__title {
  text-transform: uppercase;
}
