.button-share {
  display: flex;
  gap: $s-md;

  &--fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $z-10;
    gap: 0;
    flex-direction: column;
  }

  &__button {
    @extend .btn-primary;
    @extend .btn-outline;
    @extend .btn-medium;

    gap: $s-sm;
    background-color: $color__global-primary;

    &--fixed {
      padding: 0;
      aspect-ratio: 1;

      &:first-child {
        border-bottom: unset;
      }
    }
  }
}
