.redirect-to-login-message {
  padding: 300px;
  margin-left: auto;

  &__top {
    @include typography($typo__body-large);
    margin-top: $s-md;
  }

  &__bottom {
    @include typography($typo__body-placeholder);
    margin-top: $s-md;
  }
}
