$s-4: 4;
$s-8: 8;
$s-16: 16;
$s-22: 22;
$s-24: 24;
$s-32: 32;
$s-35: 35;
$s-48: 48;
$s-64: 64;
$s-80: 80;
$s-96: 96;
$s-112: 112;
$s-215: 215;

$s-xs: 4px;
$s-sm: 8px;
$s-md: 16px;
$s-lg: 24px;
$s-xl: 32px;
$s-2xl: 44px;
$s-3xl: 60px;
$s-4xl: 80px;
$s-5xl: 100px;
$s-6xl: 112px;
$s-7xl: 215px;

$spacers: (
  $s-4,
  $s-8,
  $s-16,
  $s-22,
  $s-24,
  $s-32,
  $s-35,
  $s-48,
  $s-64,
  $s-80,
  $s-96,
  $s-112
);

/* BEM plugin does not support interpolation */
/* stylelint-disable plugin/stylelint-bem-namics */
@each $space in $spacers {
  %m-#{$space},
  .m-#{$space} {
    margin: #{$space}px;
  }

  %mx-#{$space},
  .mx-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }

  %my-#{$space},
  .my-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }

  %ml-#{$space},
  .ml-#{$space} {
    margin-left: #{$space}px;
  }

  %mr-#{$space},
  .mr-#{$space} {
    margin-right: #{$space}px;
  }

  %mb-#{$space},
  .mb-#{$space} {
    margin-bottom: #{$space}px;
  }

  %mt-#{$space},
  .mt-#{$space} {
    margin-top: #{$space}px;
  }

  %p-#{$space},
  .p-#{$space} {
    padding: #{$space}px;
  }

  %px-#{$space},
  .px-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }

  %py-#{$space},
  .py-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  %pl-#{$space},
  .pl-#{$space} {
    padding-left: #{$space}px;
  }

  %pr-#{$space},
  .pr-#{$space} {
    padding-right: #{$space}px;
  }

  %pb-#{$space},
  .pb-#{$space} {
    padding-bottom: #{$space}px;
  }

  %pt-#{$space},
  .pt-#{$space} {
    padding-top: #{$space}px;
  }
}
/* stylelint-enable plugin/stylelint-bem-namics */
