$s-4: 4;
$s-8: 8;
$s-16: 16;
$s-24: 24;
$s-32: 32;
$s-48: 48;
$s-64: 64;
$s-80: 80;
$s-96: 96;
$s-112: 112;

$spacers: ($s-4, $s-8, $s-16, $s-24, $s-32, $s-48, $s-64, $s-80, $s-96, $s-112);

@each $space in $spacers {
  .m-#{$space} {
    margin: #{$space}px;
  }

  .mx-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }

  .my-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }

  .ml-#{$space} {
    margin-left: #{$space}px;
  }

  .mr-#{$space} {
    margin-right: #{$space}px;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}px;
  }

  .mt-#{$space} {
    margin-top: #{$space}px;
  }

  .p-#{$space} {
    padding: #{$space}px;
  }

  .px-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }

  .py-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  .pl-#{$space} {
    padding-left: #{$space}px;
  }

  .pr-#{$space} {
    padding-right: #{$space}px;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}px;
  }

  .pt-#{$space} {
    padding-top: #{$space}px;
  }
}
