.dpl-input {
  display: flex;
  flex-direction: column;
  @include typography($typo__body-medium);

  label {
    @include typography($typo__body-medium);
    color: $color__text-secondary-gray;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color__global-tertiary-1;
    height: 40px;

    &:focus {
      border-bottom-color: $color__global-black;
      outline: none;
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;

    @include media-query__small {
      flex-direction: row;
    }
  }

  &.dpl-input--invalid {
    input {
      background-color: $color__global-secondary;
    }
  }

  &.dpl-input--double {
    width: 100%;
    margin-bottom: $s-xl;

    @include media-query__small {
      margin-bottom: 0px;
    }
  }

  &__description {
    color: $color__text-secondary-gray;
    @include typography($typo__body-small);
    margin-top: $s-md;
  }

  &__validation {
    color: $color__signal-alert;
    @include typography($typo__body-small);
    margin-top: $s-md;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
