.dawa-input {
  display: flex;
  flex-direction: column;
  gap: $s-sm;

  label {
    @include typography($typo__lib-label);
    color: $color__text-secondary-gray;
  }

  input {
    @include typography($typo__lib-input);
    background-color: transparent;
    border: 1px solid $color__global-tertiary-1;
    height: 48px;
    outline: none;
    padding: $s-md;
    width: 100%;

    &::placeholder {
      color: $color__global-tertiary-2;
    }

    &:focus {
      border-color: $color__global-black;
      background-color: white;
    }
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

.dawa-input__input-wrapper {
  position: relative;
}

.dawa-input__input-wrapper--focused input {
  border-color: $color__global-black;
  background-color: white;
}

.dawa-input__address-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}

.dawa-input__address-suggestions__item {
  @include typography($typo__lib-input);
  background-color: white;
  border: 1px solid $color__global-black;
  border-top: none;
  padding: $s-md;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: $color__global-tertiary-1;
    cursor: pointer;
  }
}
