.modal-find-on-shelf {
  padding-top: 72px;
  overflow-y: scroll;
  align-items: flex-start;

  @include breakpoint-m {
    padding: $s-4xl $s-7xl;
  }

  &__headline {
    margin: 0 $s-md;
  }

  &__caption {
    margin: $s-2xl 0 $s-md $s-md;

    @include breakpoint-m {
      margin: 96px 0 $s-sm 16px;
    }
  }
}
