.modal-find-on-shelf {
  padding-top: 72px;
  overflow-y: scroll;
  align-items: flex-start;

  @include breakpoint-m {
    padding: $s-4xl $s-7xl;
  }

  &__headline {
    margin: 0 $s-md;
  }

  &__caption {
    margin: $s-2xl 0 $s-md $s-md;

    @include breakpoint-m {
    }
  }

  .periodical-dropdowns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 $s-2xl 0;

    @include breakpoint-m {
      flex-direction: row;
      gap: $s-lg;
      max-width: 800px;
      margin: 0 0 $s-3xl 0;
    }
  }
}
