// Should be in shared.scss, but since shared is loaded later than modal.scss, we temporarily need to have a copy here
@mixin hide-visually {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal {
  padding: $s-md;
  // This color is inherited by the <Counter /> component.
  --parent-bg-color: #f6f5f0;

  background-color: $c-global-primary;
  position: relative;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
  height: 100vh;
  overflow: auto;

  &__screen-reader-description {
    @include hide-visually;
  }

  @include breakpoint-s {
    height: calc(100vh - 200px);
    width: calc(100vw - 200px);
    margin: 100px 0 0 100px;
  }

  @include breakpoint-m {
    padding: $s-4xl $s-7xl;
  }

  &.modal--no-padding {
    padding: 0;
  }
}

%modal-padding,
.modal-padding {
  padding: $s-lg;
}

.modal-show {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
}

.modal-right {
  position: fixed;
  top: 0;
  left: initial;
  right: 0;
  max-width: 560px;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.modal-backdrop {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 15%, 0.5);
}

.modal--no-padding {
  padding: 0;
}

.modal-btn-close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 22.5px;
  transition: 0.3s;
  z-index: 2;

  &.modal-btn-close--offset {
    @include breakpoint-s {
      top: 100px;
      right: 100px;
    }
  }

  @include breakpoint-s {
    padding: 34px;
  }

  &:hover {
    transform: rotateZ(90deg);
  }

  & > img {
    width: 11.5px;

    @include breakpoint-s {
      width: 19.5px;
    }
  }
}

.modal-btn-fallback {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
