// Should be in shared.scss, but since shared is loaded later than modal.scss, we temporarily need to have a copy here
@mixin hide-visually {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal {
  padding: $s-md;
  // This color is inherited by the <Counter /> component.
  --parent-bg-color: #f6f5f0;

  background-color: $c-global-primary;
  position: relative;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
  min-height: 100vh;
  height: 100%;

  &__screen-reader-description {
    @include hide-visually;
  }

  &__backdrop {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 15%, 1);
  }

  @include breakpoint-m {
    padding: $s-4xl $s-7xl;
  }
}

.modal-padding {
  padding: $s-lg;
}

.modal-show {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
}

.modal-right {
  position: fixed;
  top: 0;
  left: initial;
  right: 0;
  max-width: 560px;
  width: 100%;
}
