.search-v2 {
  @include layout-container($block-max-width__x-large);

  display: flex;
  flex-direction: column;
  gap: $s-lg;
  margin-top: $s-2xl;
  margin-bottom: $s-2xl;

  @include media-query__medium {
    gap: $s-xl;
    margin-top: $s-4xl;
    margin-bottom: $s-4xl;
  }
}

.search-v2__header {
  display: flex;
  flex-direction: column;
  gap: $s-sm;

  @include media-query__medium {
    gap: $s-md;
  }
}

.search-v2__header__title {
  @include typography($typo__h2);
}

.search-v2__header__subtitle {
  @include typography($typo__body-small);
  color: $color__global-grey;

  a {
    @include link-tag;
  }
}

.search-v2__form {
  display: grid;
  gap: $s-2xl;
}

.search-v2__filters {
  display: flex;
  flex-direction: column;
  gap: $s-lg;
}

.search-v2__add-filter {
  @include typography($typo__tags);

  display: inline-flex;
  align-items: center;
  gap: $s-sm;
  padding: 0;
  border: none;
  background: transparent;
  color: $color__global-black;
  cursor: pointer;
  align-self: flex-start;

  img {
    display: block;
    width: $s-lg;
    height: $s-lg;
  }

  &:hover {
    opacity: 0.7;
  }
}

.search-v2__action-buttons {
  display: flex;
  align-items: center;
  gap: $s-lg;
  flex-wrap: wrap;

  button {
    width: 100%;
  }

  @include media-query__medium {
    flex-wrap: nowrap;

    button {
      width: auto;
    }
  }
}

.search-v2__selects-wrapper {
  display: flex;
  flex-direction: column;
  gap: $s-lg;
}

.search-v2__selects-wrapper__title {
  @include typography($typo__h5);
  color: $color__global-black;
}

.search-v2__selects-grid {
  display: grid;
  gap: $s-lg;
  grid-template-columns: 1fr;

  @include media-query__medium {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-v2__results {
  display: flex;
  flex-direction: column;
  gap: $s-lg;

  @include media-query__medium {
    gap: $s-xl;
  }
}

.search-v2__results .card-list-item {
  padding: $s-md;

  @include media-query__medium {
    padding: $s-lg;
  }
}

.search-v2__results-top-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: $s-lg;
  margin-bottom: $s-md;
  flex-wrap: wrap;

  @include media-query__medium {
    gap: $s-md;
  }
}

.search-v2__results-top-bar__left {
  display: flex;
  align-items: baseline;
  gap: $s-md;
  width: 100%;

  @include media-query__medium {
    width: auto;
  }
}

.search-v2__results-top-bar__right {
  display: flex;
  align-items: center;
  gap: $s-md;
  width: 100%;
  justify-content: space-between;

  @include media-query__medium {
    width: auto;
  }
}

.search-v2__results-heading {
  @include typography($typo__h4);
}

.search-v2__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $s-lg;

  @include media-query__medium {
    grid-template-columns: 1fr 3fr;
  }

  .content-list {
    padding: 0;
    margin: 0;
  }
}

.search-v2__search-index-select {
  height: 100%;

  button {
    width: 100%;
    height: 100%;
  }

  .advanced-search-dropdown {
    width: var(--button-width);
  }
}

.search-v2__multiselect-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: $s-sm;
}

.search-v2__count-badge {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $s-lg;
  padding: 0 $s-xs;
  background-color: $color__global-black;
  color: $color__global-white;
  border-radius: $s-xs;
  line-height: $s-lg;
}

.search-v2__sort-select {
  display: flex;
  align-items: center;
  gap: $s-sm;
}

.search-v2__sort-select__label {
  @include typography($typo__lib-label--small);
  color: $color__global-black;
}

.search-v2__sort-select__select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search-v2__sort-select__select {
  @include typography($typo__lib-label--small);
  border: none;
  padding-right: 6px;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}

.search-v2__dropdown__arrows {
  position: absolute;
  right: -4px;
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.search-v2__copy-link .text-small-caption {
  @include typography($typo__lib-label--small);
  font-weight: 500;
}

.search-v2__modify-filters-button {
  @include typography($typo__lib-label--small);
  display: flex;
  align-items: center;
  gap: $s-xs;
  padding: 0;
  border: none;
  background: transparent;
  color: $color__global-black;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }

  @include media-query__medium {
    display: none;
  }
}
