$adv2-border-size: 1px;
$adv2-border: $adv2-border-size solid $color__global-tertiary-1;

$default-padding: $s-sm $s-md;
$default-height: $s-2xl;

.advanced-search-suggest {
  display: flex;
  gap: $s-sm;
  height: $default-height;
}

.advanced-search-suggest__combobox-wrapper {
  width: 100%;
}

.advanced-search-suggest__combobox-input {
  width: 100%;
  height: 100%;
  border: $adv2-border;
  padding: $default-padding;
  background-color: transparent;
}

.advanced-search-suggest__combobox-dropdown {
  position: absolute;
  z-index: 100;
  //   --input-width comes from headless ui combobox
  width: var(--input-width);
  background-color: white;
}

//  NEW NEW NEW
.advanced-search-select-search {
  height: $default-height;
}

.advanced-search-select-search__button {
  height: 100%;
}

.advanced-search-select-search__dropdown {
  position: absolute;
  z-index: 100;
  //   --button-width comes from headless ui combobox
  width: var(--button-width);
  background-color: white;
  max-height: 300px !important;
  overflow-y: auto !important;
}

.advanced-search-select-search__dropdown-input {
  width: 100%;
  border: $adv2-border;
  padding: $default-padding;
}

// Shared styles

.advanced-search-combobox-option {
  cursor: pointer;

  &.is-focus {
    background-color: $color__global-secondary;
  }

  &.is-selected {
    font-weight: 600;
  }
}
