.advanced-search-filters {
  display: none;
  margin-bottom: auto;

  @include media-query__small {
    display: flex;
  }
}

.advanced-search-filters__container {
  border: $adv2-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.advanced-search-filters__toggles {
  background-color: $color__global-white;
  padding: $s-xl $s-md;
  display: flex;
  flex-direction: column;
  gap: $s-md;
}

.advanced-search-toggle {
  display: flex;
  gap: $s-sm;
  align-items: flex-start;
}

.advanced-search-toggle__button {
  width: $s-2xl;
  height: $s-lg;
  background-color: $color__global-tertiary-1;
  border-radius: $s-lg;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  flex-shrink: 0;

  &--checked {
    background-color: $color__signal-success;
  }
}

.advanced-search-toggle__slider {
  position: absolute;
  width: 20px; // Circle size for toggle slider
  height: 20px;
  background-color: $color__global-white;
  border-radius: 50%;
  top: $s-xs / 2;
  left: $s-xs / 2;
  transition: transform 0.2s;

  .advanced-search-toggle__button--checked & {
    transform: translateX(20px); // Slide distance matches slider size
  }
}

.advanced-search-toggle__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.advanced-search-toggle__label {
  @include typography($typo__lib-label--small);
  margin: 0;
}

.advanced-search-toggle__description {
  @include typography($typo__lib-label--small);
  color: $color__text-secondary-gray;
  margin: 0;
  white-space: pre-wrap;
}
