.search-v2-facets {
  display: none;
  margin-bottom: auto;

  @include media-query__medium {
    display: flex;
  }
}

.search-v2-facets__container {
  border: $adv2-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.search-v2-facets__toggles {
  background-color: $color__global-white;
  padding: $s-xl $s-md;
  display: flex;
  flex-direction: column;
  gap: $s-md;
}

.search-toggle {
  display: flex;
  gap: $s-sm;
  align-items: flex-start;
}

.search-toggle__button {
  width: $s-2xl;
  height: $s-lg;
  background-color: $color__global-tertiary-1;
  border-radius: $s-lg;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
  flex-shrink: 0;

  &--checked {
    background-color: $color__signal-success;
  }
}

.search-toggle__slider {
  position: absolute;
  width: 20px; // Circle size for toggle slider
  height: 20px;
  background-color: $color__global-white;
  border-radius: 50%;
  top: $s-xs / 2;
  left: $s-xs / 2;
  transition: transform 0.2s;

  .search-toggle__button--checked & {
    transform: translateX(20px); // Slide distance matches slider size
  }
}

.search-toggle__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.search-toggle__label {
  @include typography($typo__lib-base);
  font-weight: 500;
  margin: 0;
}

.search-toggle__description {
  @include typography($typo__lib-label--small);
  color: $color__text-secondary-gray;
  margin: 0;
  white-space: pre-wrap;
}

.search-v2-facets__dialog-content {
  display: flex;
  flex-direction: column;
  gap: $s-lg;
}

.search-v2-facets__dialog-content .search-v2-facets {
  display: block;
  margin: 0px calc(0px - $s-lg);
}

.search-v2-facets__dialog-content .search-v2-facets__container {
  border-right: none;
  border-left: none;
}

.search-v2-facets__dialog-content .search-v2-facets__toggles {
  padding: $s-lg;
}

.search-v2-facets__dialog-content .advanced-search-radio-group {
  padding: $s-md $s-lg;
}

.search-v2-facets__dialog-content .search-v2-facet-group__header {
  padding: 12px $s-lg;
}

.search-v2-facets__dialog-content .search-v2-facet-group__item,
.search-v2-facets__dialog-content .search-v2-facet-group__footer {
  padding: 0 $s-lg;
}

.search-v2-facets__dialog {
  height: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-v2-facets__dialog-content .search-v2-facet-group__show-all {
  padding: $s-sm 0 $s-md;
  line-break: auto;
}

.search-v2-facets__dialog__actions {
  border-top: 1px solid $color__global-tertiary-1;
  display: flex;
  position: sticky;
  margin: 0px calc(0px - $s-lg) calc(0px - $s-lg);
  padding: $s-lg;
  bottom: calc(0px - $s-lg);
  background-color: $color__global-primary;
}

.search-v2-facets__dialog__actions__button {
  flex: 1;
  text-decoration: dashed;
}

.search-v2-facets__dialog-content__heading {
  @include typography($typo__h5);
  margin: 0;
}
