.advanced-search-multi-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: $s-xs;
}

.advanced-search-multi-select__label {
  @include typography($typo__tags);
  color: $color__global-black;
}

.advanced-search-multi-select {
  height: $default-height;
}

.advanced-search-multi-select__button {
  height: 100%;
}

.advanced-search-multi-select__popover-panel {
  // --button-width comes from headless ui combobox
  width: var(--button-width);
  max-height: none !important; // override headlessui inline max-height
  overflow: visible !important; // prevent outer panel from scrolling
}

.advanced-search-multi-select__combobox-options {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.advanced-search-multi-select__footer {
}

.advanced-search-multi-select__reset-button {
  padding: $s-sm 0 $s-xl;
  @include typography($typo__small-caption);
  background-color: $color__global-primary;

  background: transparent;
}
