.advanced-search-v2 {
  @include layout-container($block-max-width__x-large);

  margin-top: $s-lg;
  margin-bottom: $s-lg;
  display: grid;
  gap: $s-2xl;
}

.advanced-search-v2__form {
  display: grid;
  gap: $s-2xl;
}

.advanced-search-v2__suggests {
  display: flex;
  flex-direction: column;
  gap: $s-md;
}

.advanced-search-v2__add-suggest {
  @include typography($typo__tags);

  display: inline-flex;
  align-items: center;
  gap: $s-sm;
  padding: 0;
  border: none;
  background: transparent;
  color: $color__global-black;
  cursor: pointer;
  align-self: flex-start;

  img {
    display: block;
    width: $s-lg;
    height: $s-lg;
  }

  &:hover {
    opacity: 0.7;
  }
}

.advanced-search-v2__action-buttons {
  display: flex;
  gap: $s-3xl;
  align-items: center;
}

.advanced-search-v2__reset-button.btn-outline {
  border-color: transparent !important;
  background: transparent !important;

  &:not([disabled]):hover,
  &:not([disabled]):focus-visible {
    background: transparent !important;
    border-color: $color__global-black !important;
    color: $color__global-black !important;
  }
}

.advanced-search-v2__selects-grid {
  display: grid;
  gap: $s-md;
  grid-template-columns: repeat(2, 1fr);
}

.advanced-search-v2__result-heading {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  line-height: $s-lg;
  color: $color__global-black;
  margin: 0 0 $s-lg;
}

.advanced-search-v2__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $s-md;
}

.advanced-search-v2__search-index-select {
  max-width: 260px;
  height: 100%;

  button {
    width: 100%;
    height: 100%;
  }

  .advanced-search-dropdown {
    width: var(--button-width);
  }
}

.advanced-search-v2__multiselect-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: $s-sm;
}

.advanced-search-v2__count-badge {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $s-lg;
  padding: 0 $s-xs;
  background-color: $color__global-black;
  color: $color__global-white;
  border-radius: $s-xs;
  line-height: $s-lg;
}
