$adv2-border-size: 1px;
$adv2-border: $adv2-border-size solid $color__global-tertiary-1;

$default-padding: $s-sm $s-md;
$default-height: $s-2xl;

// advanced-search-v2 container
////////////////////////////////
.advanced-search-v2 {
  max-width: 1200px;
  margin: 20px auto;
}

// advanced-search-v2 form
////////////////////////////////
.advanced-search-v2__form {
  display: grid;
  gap: 1rem;
}

// advanced-search-v2 buttons
////////////////////////////////
.advanced-search-v2__action-buttons {
  display: flex;
  gap: 1rem;
}

.advanced-search-v2__button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;

  &--primary {
    background-color: #0066cc;
    color: white;
    font-weight: bold;
  }

  &--secondary {
    background-color: #dc3545;
    color: white;
  }
}

// advanced-search-v2 selects grid
////////////////////////////////
.advanced-search-v2__selects-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

// advanced-search-v2 results container
////////////////////////////////
.advanced-search-v2__results-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

// advanced-search-v2 search index select
////////////////////////////////
.advanced-search-v2__search-index-select {
  max-width: 260px;
}

// advanced-search-v2 multiselect
////////////////////////////////
.advanced-search-v2__multiselect-button {
  height: 100%;
}

// advanced-search-suggest
////////////////////////////////
.advanced-search-suggest {
  display: flex;
  gap: $s-sm;
  height: $default-height;
}

.advanced-search-suggest__combobox-wrapper {
  width: 100%;
}

.advanced-search-suggest__combobox-options {
  //   --input-width comes from headless ui combobox
  width: var(--input-width);
}

//  advanced-search-select-search
////////////////////////////////
.advanced-search-select-search {
  height: $default-height;
}

.advanced-search-select-search__button {
  height: 100%;
}

.advanced-search-select-search__popover-panel {
  //   --button-width comes from headless ui combobox
  width: var(--button-width);
  max-height: 300px !important;
  overflow-y: auto !important;
}

.advanced-search-select-search__combobox-options {
  border: $adv2-border;
}

// advanced-search-facets
////////////////////////////////
.advanced-search-facets {
  border: $adv2-border;
}

.advanced-search-facets__combobox-options {
  background-color: white;
  height: 300px;
  overflow-y: auto;
}
