.advanced-search-summary {
  border-top: $adv2-border;
  border-bottom: $adv2-border;
  padding: $s-xl 0;
}

.advanced-search-summary__items {
  display: flex;
  flex-wrap: wrap;
  gap: $s-sm $s-md;
  align-items: center;
}

.advanced-search-summary__item {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  display: flex;
  gap: $s-sm;
  align-items: flex-start;
  line-height: $s-lg;
  white-space: nowrap;
}

.advanced-search-summary__label {
  color: $color__global-black;
}

.advanced-search-summary__value {
  font-weight: 500;
  text-transform: capitalize;
  color: $color__global-black;
}

.advanced-search-summary__operator {
  @include typography($typo__tags);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $s-sm;
  height: $s-lg;
  background-color: $color__global-secondary;
  border-radius: $s-lg;
  color: $color__global-black;
  flex-shrink: 0;
}

.advanced-search-summary__edit-link {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  padding: 0;
  border: none;
  background: transparent;
  line-height: $s-lg;
  color: $color__global-black;
  text-decoration: underline;
  text-underline-offset: 50%;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    opacity: 0.7;
  }
}
