.advanced-search-v2 {
  @include layout-container($block-max-width__x-large);

  display: flex;
  flex-direction: column;
  gap: $s-2xl;
  margin-top: $s-lg;
  margin-bottom: $s-lg;
}

.advanced-search-v2__title {
  @include typography($typo__h2);
}

.advanced-search-v2__form {
  display: grid;
  gap: $s-2xl;
}

.advanced-search-v2__suggests {
  display: flex;
  flex-direction: column;
  gap: $s-md;
}

.advanced-search-v2__add-suggest {
  @include typography($typo__tags);

  display: inline-flex;
  align-items: center;
  gap: $s-sm;
  padding: 0;
  border: none;
  background: transparent;
  color: $color__global-black;
  cursor: pointer;
  align-self: flex-start;

  img {
    display: block;
    width: $s-lg;
    height: $s-lg;
  }

  &:hover {
    opacity: 0.7;
  }
}

.advanced-search-v2__action-buttons {
  display: flex;
  align-items: center;
  gap: $s-md;
  flex-wrap: wrap;

  button {
    width: 100%;
  }

  @include media-query__small {
    flex-wrap: nowrap;

    button {
      width: auto;
    }
  }
}

.advanced-search-v2__selects-wrapper {
  display: flex;
  flex-direction: column;
  gap: $s-lg;
}

.advanced-search-v2__selects-wrapper__title {
  @include typography($typo__h5);
  color: $color__global-black;
}

.advanced-search-v2__selects-grid {
  display: grid;
  gap: $s-md;
  grid-template-columns: 1fr;

  @include media-query__small {
    grid-template-columns: repeat(2, 1fr);
  }
}

.advanced-search-v2__result-heading {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  line-height: $s-lg;
  color: $color__global-black;
  margin-top: $s-xl;
  margin-bottom: $s-md;
}

.advanced-search-v2__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $s-md;

  .content-list {
    padding: 0;
    margin: 0;
  }
}

.advanced-search-v2__search-index-select {
  height: 100%;

  button {
    width: 100%;
    height: 100%;
  }

  .advanced-search-dropdown {
    width: var(--button-width);
  }
}

.advanced-search-v2__multiselect-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: $s-sm;
}

.advanced-search-v2__count-badge {
  @include typography(
    $typo__body-small,
    (
      excludes: (
        "line-height",
      ),
    )
  );

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: $s-lg;
  padding: 0 $s-xs;
  background-color: $color__global-black;
  color: $color__global-white;
  border-radius: $s-xs;
  line-height: $s-lg;
}
