.combobox-input {
  @include typography($typo__lib-input);
  background-color: transparent;
  border: 1px solid $color__global-tertiary-1;
  height: 48px;
  outline: none;
  padding: $s-md;
  width: 100%;

  &::placeholder {
    color: $color__global-tertiary-2;
  }

  &:focus {
    border-color: $color__global-black;
    background-color: white;
  }
}

.combobox-options {
  position: absolute;
  //   --input-width comes from headless ui combobox
  width: var(--input-width);
  z-index: 100;
  background-color: $color__global-primary;
  border: 1px solid $color__global-black;
  border-top: none;
}

.combobox-option {
  @include typography($typo__lib-input);
  border-top: none;
  padding: $s-md;
  width: 100%;
  text-align: left;
  outline: none;
  background-color: $color__global-primary;

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &--focused,
  &--selected {
    background-color: $color__global-secondary;
  }

  &--selected {
    font-weight: 600;
  }
}

.advanced-search-combobox-input {
  width: 100%;
  height: 100%;
  border: $adv2-border;
  padding: $default-padding;
  background-color: $color__global-white;
}
// Override for suggest input
.advanced-search-suggest__combobox-input {
  background-color: $color__global-primary;
}
.advanced-search-combobox-option {
  padding: $default-padding;
  cursor: pointer;
  &.is-focus {
    background-color: $color__global-secondary;
  }
  &.is-selected {
    font-weight: 600;
  }
}
.advanced-search-dropdown {
  position: absolute;
  z-index: 100;
  background-color: $color__global-primary;
  border: $adv2-border;
}
