.checkbox__input {
  position: absolute;
  visibility: hidden;
}

.checkbox__label {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.checkbox__label .checkbox__icon {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox__label .checkbox__icon:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid $c-global-tertiary-2;
  transition: all 0.3s ease;
}

.checkbox__label .checkbox__icon:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox__label .checkbox__text:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox__label:hover .checkbox__icon:first-child {
  border-color: $c-text-secondary-gray;
}

/* stylelint-disable selector-max-compound-selectors */
.checkbox__input:checked + .checkbox__label .checkbox__icon:first-child {
  background: $c-text-secondary-gray;
  border-color: $c-text-secondary-gray;
  animation: zoom-in-out 0.3s ease;

  svg {
    stroke-dashoffset: 0;
  }
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
