@use "sass:color";
:root {
  --sidebar-padding: #{$s-md};
}
$_bezier_transition: cubic-bezier(0.65, 0.1, 0.36, 1);
$_transition_speed: 0.3s;
$_menu_animation_delay: 0.2s;

.header-sidebar-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-sidebar-nav;
  transform: translateX(-100%);
  transition: transform $_transition_speed $_bezier_transition;

  ul.header__menu-navigation {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $s-md;
    height: 100%;
    padding-top: $s-5xl;
    padding-bottom: $s-2xl;
    overflow-y: auto;
    max-height: calc(100vh - calc(var(--sidebar-padding) * 2));
    position: unset;
    visibility: visible;
  }

  .header__menu-navigation-item:hover {
    border: none;
  }

  .header__menu-navigation-link {
    @include typography($typo__body-large);

    outline-offset: 0px;
    padding: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .header__menu-navigation-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width $_transition_speed $_bezier_transition;
  }

  .header__menu-navigation-link:hover::after,
  .header__menu-navigation-link:focus::after {
    width: 100%;
  }
}

.header-sidebar-nav__close-menu-button {
  height: min-content;
  padding: $s-xs;
  line-height: 1;
  cursor: pointer;
}

.header-sidebar-nav__menu-wrapper {
  background: $color__global-white;
  padding: var(--sidebar-padding);
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: $s-md;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity $_transition_speed $_bezier_transition $_menu_animation_delay,
    transform $_transition_speed $_bezier_transition $_menu_animation_delay;
  cursor: initial;
}

.header-sidebar-nav[data-open="closed"] {
  transform: translateX(-100%);
}

.header-sidebar-nav[data-open="open"] {
  transform: translateX(0%);

  .header-sidebar-nav__menu-wrapper {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header-sidebar-nav__background-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: color.adjust($color__global-black, $alpha: -0.5);
  cursor: pointer;
}

@include media-query__small {
  :root {
    --sidebar-padding: #{$s-lg};
  }

  .header-sidebar-nav {
    display: none;
  }

  .header-sidebar-nav__menu-wrapper {
    max-width: 375px;
    grid-gap: $s-lg;
  }

  .header-sidebar-nav__menu-items {
    padding-top: 120px;
  }
}

// This reflects the current override of the burger menu state, which is
// controlled by the .has-burger-menu class on the html element.
// This takes effect when the desktop-menu has too many items, and gets
// changed to a burger menu.
.has-burger-menu .header-sidebar-nav {
  display: block;
}
