.accordion {
  background-color: $c-global-secondary;
}

.accordion__button-arrow {
  transition: transform 0.3s;
  transform: rotateZ(180deg);
}

.accordion__button {
  color: $c-text-primary-black;
  border-width: 0;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $c-global-tertiary-1;

  &[aria-expanded="true"] {
    border-bottom: 1px solid $c-global-tertiary-1;

    .accordion__button-arrow {
      transform: rotateZ(0deg);
    }
  }
}

.accordion__row {
  list-style-type: none;
}

.accordion__header {
  height: 60px;

  button:focus {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.accordion__body {
  display: grid;

  a {
    line-height: 32px;
    padding-left: #{$s-48}px;
    text-decoration: none;

    @extend %text-body-medium-regular-placeholder;
  }

  &[hidden] {
    display: none;
  }
}

.accordion__row:last-child {
  .accordion__button {
    border-bottom: 1px solid $c-global-tertiary-1;
  }

  .accordion__body {
    border-bottom: 1px solid $c-global-tertiary-1;
  }
}
