.dpl-pause-reservation-component {
  background-color: $c-global-secondary;
  min-height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  @extend %p-16;
  @extend %pagefold-parent--medium;

  &__pagefold {
    @extend %pagefold-triangle--medium;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    &__reservation-icon {
      justify-content: center;
      @include breakpoint-s {
        padding-left: 48px;
      }
    }

    &__text {
      @extend %text-body-large;
      @extend %pl-8;
    }

    &__badge {
      background-color: $c-global-primary;
      @extend %pl-8;
      @extend %pr-8;
      @extend %pt-4;
      @extend %pb-4;
      @extend %text-body-medium-medium;
      margin-left: 32px;
      
      @include breakpoint-s {
        margin-left: 8px;
      }
    }

    &__button {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      @extend %ml-8;
    }
  }
}
