.dpl-pause-reservation-component {
  background-color: $c-global-secondary;
  min-height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  @extend %p-16;
  @extend %pagefold-parent--medium;

  &__pagefold {
    @extend %pagefold-triangle--medium;
  }

  &__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: $s-sm;

    @include breakpoint-xs {
      justify-content: start;
    }

    &__reservation-icon {
      justify-content: center;
      @include breakpoint-s {
        padding-left: 48px;
      }
    }

    &__text {
      @extend %text-body-large;
    }

    &__badge {
      background-color: $c-global-primary;
      padding: $s-xs $s-sm;
      @extend %text-body-medium-medium;
    }

    &__button {
      display: flex;
      flex: 1;
      justify-content: center;

      @include breakpoint-xs {
        justify-content: flex-end;
      }
    }
  }
}
