.dpl-radio-fieldset {
  @include typography($typo__small-caption);

  legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-bottom: 6px;
  }

  &__wrapper__col {
    margin-bottom: 10px;

    &__item {
      display: flex;
      align-items: center;
      padding: 6px $s-sm 6px 0;

      label {
        @include typography($typo__small-caption);
        cursor: pointer;
        padding-left: $s-sm;
        color: $color__text-secondary-gray;
        width: fit-content;
        max-width: 300px;
        padding-top: 3px;
      }

      input[type="radio"] {
        cursor: pointer;
        margin: 0;
        line-height: 18px;
        width: 16px;
        height: 16px;
        accent-color: #232323;
      }
    }
  }
}
