.dpl-form {
  .dpl-input.radio-override {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px $s-sm 6px 0;
    margin-bottom: 0;

    input[type="radio"] {
      accent-color: black;
      width: 18px;
      height: 18px;
      cursor: pointer;
      margin: 3px 3px 3px 0;
    }

    label,
    .description {
      @include typography($typo__small-caption);
      color: $color__text-secondary-gray;
      padding: 0 $s-sm 0 $s-sm;
      width: fit-content;
      max-width: 300px;
      margin: 0;
      height: auto;
    }

    label {
      cursor: pointer;
    }
  }
}
