$MODAL_TEXT_CONTAINER_WIDTH: 550px;

.modal-text {
  flex-direction: column;
  align-items: center;
}

.modal-text__container {
  margin: 0 24px;
  padding-top: 96px;
  padding-bottom: 100px;
  max-width: $MODAL_TEXT_CONTAINER_WIDTH;
  width: 100%;

  @include breakpoint-s {
    margin: 0 45px;
  }
}

.modal-text__content {
  display: grid;
  grid-row-gap: 16px;
  margin-top: 32px;
}

.modal-text__buttons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 88px;
  width: 100%;
  background-color: $c-global-primary;
  filter: drop-shadow(4px 0 20px rgb(72 72 72 / 10%));
}

.modal-text__buttons-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 24px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}
