.card-list-page {
  background: $color__global-primary;
  padding: $s-md;

  @include media-query__medium {
    padding: $s-4xl 157px $s-2xl;
  }

  &__list {
    display: grid;
    gap: $s-md;
  }
}
