//  Todo should be merged with .content-list-page__filters
.facet-line {
  @include layout-container($block-max-width__large);
  max-height: $s-xl;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  // Hide scrollbar
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */

  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  @include media-query__small() {
    overflow-y: visible;
    max-height: none;
    flex-wrap: wrap;
  }
}

.facet-line-selected-terms__item,
.facet-line__item {
  display: inline-block;
  margin-right: $s-sm;
  margin-top: 0px;
  white-space: nowrap;

  @include media-query__small() {
    margin-top: $s-sm;
  }

  .tag {
    color: $color__global-grey;
  }
}

.facet-line-selected-terms__item {
  margin-bottom: $s-sm;
}

//  Todo should be merged with .content-list-page__filters
.facet-line-selected-terms {
  @include layout-container($block-max-width__large);
  margin-top: $s-md;
}
