.result-pager {
  &__title {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.result-pager--margin-bottom {
  margin-bottom: 120px;
  margin-top: 0px;
}
// Override button css (Center + Width)
.result-pager > .btn-primary {
  margin: 0 auto;
  width: 100%;

  @include breakpoint-s {
    max-width: 253px;
  }
}

.result-pager--margin-bottom > .btn-primary {
  @include breakpoint-s {
    margin-bottom: 90px;
  }
}
