$MATERIAL_XSMALL_MOBILE: 104px;
$MATERIAL_XSMALL_DESKTOP: 104px;
$MATERIAL_SMALL_MOBILE: 104px;
$MATERIAL_SMALL_DESKTOP: 137px;
$MATERIAL_MEDIUM_MOBILE: 137px;
$MATERIAL_MEDIUM_DESKTOP: 216px;
$MATERIAL_LARGE_MOBILE: 216px;
$MATERIAL_LARGE_DESKTOP: 216px;

.material-container {
  display: flex;
}

.material {
  display: inline-block;
  overflow: hidden;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--xsmall {
    aspect-ratio: 0.69;
    height: $MATERIAL_XSMALL_MOBILE;
    border-radius: 3px;

    @include breakpoint-s {
      height: $MATERIAL_XSMALL_DESKTOP;
    }
  }

  &--small {
    aspect-ratio: 0.69;
    height: $MATERIAL_SMALL_MOBILE;

    @include breakpoint-s {
      height: $MATERIAL_SMALL_DESKTOP;
    }
  }

  &--medium {
    aspect-ratio: 0.69;
    height: $MATERIAL_LARGE_MOBILE;

    @include breakpoint-s {
      height: $MATERIAL_LARGE_DESKTOP;
    }
  }

  &--large {
    aspect-ratio: 0.79;
    height: $MATERIAL_LARGE_MOBILE;

    @include breakpoint-s {
      height: $MATERIAL_LARGE_DESKTOP;
    }
  }
}

.material__animate {
  > img {
    animation: 0.3s ease-out 0s 1 MaterialFadeIn;
  }
}

// In this case we do not want to use kebab case
@keyframes MaterialFadeIn { /* stylelint-disable-line */
  0% {
    opacity: 0;
    transform: scale(1.05) translateY(5px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
