.slider__header {
  @include layout-container;

  display: flex;
  margin-bottom: $s-lg;
}

.slider__title {
  @include typography($typo__h2);
  @include u-extending-underline-style;
}

.slider__controls {
  display: none;
  flex-direction: column;
  flex-grow: 1;
  align-content: end;

  @include media-query__small {
    display: flex;
  }
}

.slider__control {
  width: 115px;
  max-width: 100%;
  margin-left: auto;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;

  &[disabled] {
    opacity: 0;
  }
}

.slider__item {
  $_card-mobile-peek: 50px;

  width: fit-content !important;
  margin-right: 5%;

  .card {
    // We dont want the max-width to be 100%, as we want peek-effect on mobile.
    max-width: calc(100vw - #{$_card-mobile-peek});
  }

  // The slider follows a very specific card pattern:
  // 1: large, 2: x-large, 3: medium, 4: small - repeating.
  @for $i from 1 through 4 {
    &:nth-child(4n + #{$i}) .card {
      @if $i == 1 {
        margin-top: $s-xl;

        @extend %card-variant--large;
      } @else if $i == 2 {
        @extend %card-variant--x-large;
      } @else if $i == 3 {
        margin-top: $s-xl;

        @extend %card-variant--medium;
      } @else if $i == 4 {
        @extend %card-variant--small;
      }
    }
  }
}
