.search__sort-select {
  display: flex;
  align-items: center;
  gap: $s-sm;
}

.search__sort-select__label {
  @include typography($typo__lib-label--small);
  color: $color__global-black;
}

.search__sort-select__select-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search__sort-select__select {
  @include typography($typo__lib-label--small);
  border: none;
  padding-right: 12px;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}
