.infomedia-logo {
  display: block;
  margin-left: auto;
  object-fit: contain;
  height: $s-lg;
  margin-bottom: $s-lg;
}

.infomedia-article {
  max-width: $layout__max-width--small;
  margin: 0 auto;
}

.infomedia-headline {
  @include typography($typo__h2);
  margin-bottom: $s-lg;
}

.infomedia-content {
  padding-bottom: $s-xl;

  > * {
    @include typography($typo__body-large);
    margin-bottom: $s-md;

    &:first-child {
      @include typography($typo__h4);
    }
  }
}
