.horizontal-term-line {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: $s-sm;

  // Set all text to the same font size even if other text classes have been used.
  * {
    font-size: 12px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: $s-sm;
  }

  &__expand {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &--expanded {
      transform: scaleY(-1);
    }
  }
}
