.horizontal-term-line {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  white-space: nowrap;
  gap: $s-sm;
  margin-bottom: $s-sm;

  // Set all text to the same font size even if other text classes have been used.
  * {
    font-size: 12px;
  }
}
