.modal-login {
  width: 100%;
  display: flex;
  justify-content: center;

  &--authenticated {
    align-items: baseline;
  }

  &__container {
    display: grid;
    place-content: center;
    row-gap: 28px;
  }

  &__btn-create-profile {
    justify-self: center;
  }
}
