.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid $c-global-tertiary-1;
  padding: 8px 16px;
  @extend %text-tags;

  &.tag--fill {
    background-color: $c-global-secondary;
  }

  &.tag--small {
    height: 32px;
    padding: 0 8px;
  }

  &.tag--large {
    height: 40px;
    padding: 0 16px;
  }
}

.tag-icon {
  margin-left: 10px;
}
