.modal-profile {
  padding: 0; // reset padding from default .modal class
  flex-direction: column;

  &__notifications {
    border-bottom: 1px solid $c-global-tertiary-1;

    padding: 32px;

    @include breakpoint-s {
      padding: {
        top: 40px;
        right: 80px;
        bottom: 40px;
        left: 80px;
      }
    }
  }

  &__notification-item {
    margin-bottom: 8px;
  }

  &__notification-item .list-dashboard {
    padding: 8px;
  }

  &__notification-item .list-dashboard__arrow {
    display: none;
  }

  &__notification-item .number {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;

    @include breakpoint-s {
      padding: {
        top: 40px;
        right: 80px;
        bottom: 40px;
        left: 80px;
      }
    }
  }

  &__links .link-filters {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__btn-logout {
    button {
      width: 100%;
    }

    @include breakpoint-s {
      margin-left: auto;
    }
  }
}
