@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lora&family=Noto+Sans+JP:wght@400;500&display=swap);
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and list styles */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.internal-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.internal-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
}

.internal-colors-container {
  margin-top: 20px;
}

.internal-colors-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.internal-colors-box {
  width: 150px;
  height: 150px;
}

.text-header-h1 {
  font-family: "Lora", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (min-width: 1920px) {
  .text-header-h1 {
    font-size: 58px;
    line-height: 70px;
  }
}

.text-header-h2 {
  font-family: "Lora", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h2 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (min-width: 1920px) {
  .text-header-h2 {
    font-size: 44px;
    line-height: 53px;
  }
}

.text-header-h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h3 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (min-width: 1920px) {
  .text-header-h3 {
    font-size: 34px;
    line-height: 41px;
  }
}

.text-header-h4 {
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h4 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1920px) {
  .text-header-h4 {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-subtitle {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1920px) {
  .text-subtitle {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-accent {
  font-family: "Gochi Hand", cursive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1920px) {
  .text-accent {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-body-large {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-large {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 1920px) {
  .text-body-large {
    font-size: 20px;
    line-height: 24px;
  }
}

.text-body-medium-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-medium-regular {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1920px) {
  .text-body-medium-regular {
    font-size: 18px;
    line-height: 22px;
  }
}

.text-body-medium-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-medium-medium {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1920px) {
  .text-body-medium-medium {
    font-size: 18px;
    line-height: 22px;
  }
}

.btn-primary {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 1920px) {
  .btn-primary {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-links {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
@media (min-width: 1920px) {
  .text-links {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-tags {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
}
@media (min-width: 1920px) {
  .text-tags {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-small-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-small-caption {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 1920px) {
  .text-small-caption {
    font-size: 14px;
    line-height: 17px;
  }
}

.arrow-hover-right-large {
  cursor: pointer;
}
.arrow-hover-right-large svg {
  overflow: visible;
}
.arrow-hover-right-large:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.arrow-hover-right-large:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.333);
          transform: scaleX(1.333);
}
.arrow-hover-right-large .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow-hover-right-large .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-right-small {
  cursor: pointer;
}
.arrow-hover-right-small svg {
  overflow: visible;
}
.arrow-hover-right-small:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
.arrow-hover-right-small:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}
.arrow-hover-right-small .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow-hover-right-small .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-left-large {
  cursor: pointer;
}
.arrow-hover-left-large svg {
  overflow: visible;
}
.arrow-hover-left-large:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.arrow-hover-left-large:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.333);
          transform: scaleX(1.333);
}
.arrow-hover-left-large .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow-hover-left-large .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-left-small {
  cursor: pointer;
}
.arrow-hover-left-small svg {
  overflow: visible;
}
.arrow-hover-left-small:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}
.arrow-hover-left-small:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}
.arrow-hover-left-small .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow-hover-left-small .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

:root {
  --tint-color-h: 145;
  --tint-color-s: 22%;
  --tint-color-l: 35%;
  --tint-color-hsl: var(--tint-color-h), var(--tint-color-s),
    var(--tint-color-l);
  --tint-color: hsl(var(--tint-color-hsl));
  --tint-color-20: hsl(var(--tint-color-hsl), 0.2);
  --tint-color-40: hsl(var(--tint-color-hsl), 0.4);
  --tint-color-60: hsl(var(--tint-color-hsl), 0.6);
  --tint-color-80: hsl(var(--tint-color-hsl), 0.8);
  --tint-color-120: hsl(
    var(--tint-color-h),
    calc(var(--tint-color-s) - 1%),
    calc(var(--tint-color-l) - 8%)
  );
}

.bg-global-primary {
  background-color: #f6f5f0;
}

.bg-global-secondary {
  background-color: #eee9e5;
}

.bg-global-tertiary {
  background-color: #dbdbdb;
}

.border-global-primary {
  border-color: #f6f5f0;
}

.border-global-secondary {
  border-color: #eee9e5;
}

.border-global-tertiary {
  border-color: #dbdbdb;
}

.bg-identity-primary {
  background-color: #476e57;
}

.border-identity-primary {
  border-color: #476e57;
}

.color-identity-primary {
  border-color: #476e57;
}

.bg-identity-tint-20 {
  background-color: hsl(145, 22%,
    35%, 0.2);
  background-color: var(--tint-color-20);
}

.bg-identity-tint-40 {
  background-color: hsl(145, 22%,
    35%, 0.4);
  background-color: var(--tint-color-40);
}

.bg-identity-tint-60 {
  background-color: hsl(145, 22%,
    35%, 0.6);
  background-color: var(--tint-color-60);
}

.bg-identity-tint-80 {
  background-color: hsl(145, 22%,
    35%, 0.8);
  background-color: var(--tint-color-80);
}

.bg-identity-tint-120 {
  background-color: hsl(
    145,
    calc(22% - 1%),
    calc(35% - 8%)
  );
  background-color: var(--tint-color-120);
}

.color-primary-white {
  color: #fff;
}

.color-primary-black {
  color: #000;
}

.color-secondary-gray {
  color: #484848;
}

.bg-color-primary-white {
  background-color: #fff;
}

.bg-color-primary-black {
  background-color: #000;
}

.bg-color-secondary-gray {
  background-color: #484848;
}

.bg-signal-success {
  background-color: #3aaa36;
}

.bg-signal-aware {
  background-color: #f7bf42;
}

.bg-signal-alert {
  background-color: #d5364a;
}

.border-signal-success {
  border-color: #3aaa36;
}

.border-signal-aware {
  border-color: #f7bf42;
}

.border-signal-alert {
  border-color: #d5364a;
}

.color-signal-success {
  color: #3aaa36;
}

.color-signal-aware {
  color: #f7bf42;
}

.color-signal-alert {
  color: #d5364a;
}

.btn-icon {
  margin-left: 16px;
}

.btn-collapsible {
  margin-left: 16px;
  display: none;
}

.btn-primary {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
}
.btn-primary:hover .btn-collapsible {
  display: block;
}
.btn-primary[disabled] {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  fill: #dbdbdb;
}
.btn-primary[disabled] .btn-icon {
  opacity: 0.6;
}

/*# sourceMappingURL=base.css.map */


/*# sourceMappingURL=main.3e8f59f0.chunk.css.map*/