@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lora&family=Noto+Sans+JP:wght@400;500&display=swap);
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and list styles */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --identity-color-h: 145;
  --identity-color-s: 22%;
  --identity-color-l: 35%;
  --identity-color: var(--identity-color-h), var(--identity-color-s),
    var(--identity-color-l);
  --tint-color-20: hsl(var(--identity-color), 0.2);
  --tint-color-40: hsl(var(--identity-color), 0.4);
  --tint-color-60: hsl(var(--identity-color), 0.6);
  --tint-color-80: hsl(var(--identity-color), 0.8);
  --tint-color-120: hsl(
    var(--identity-color-h),
    calc(var(--identity-color-s) - 1%),
    calc(var(--identity-color-l) - 8%)
  );
  --c-global-primary: #f6f5f0;
  --c-global-secondary: #eee9e5;
  --c-global-tertiary-1: #dbdbdb;
  --c-global-tertiary-2: #949494;
  --c-text-primary-white: #fff;
  --c-text-primary-black: #000;
  --c-text-secondary-gray: #484848;
  --c-signal-success: #068802;
  --c-signal-aware: #f7bf42;
  --c-signal-alert: #d5364a;
}

/** Breakpoints **/
/** Breakpoint mixin's **/
.text-header-h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-header-h1 {
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .text-header-h1 {
    font-size: 52px;
  }
}
@media (min-width: 1920px) {
  .text-header-h1 {
    font-size: 58px;
  }
}

.text-header-h2 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-header-h2 {
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .text-header-h2 {
    font-size: 42px;
  }
}
@media (min-width: 1920px) {
  .text-header-h2 {
    font-size: 44px;
  }
}

.text-header-h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-header-h3 {
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .text-header-h3 {
    font-size: 32px;
  }
}
@media (min-width: 1920px) {
  .text-header-h3 {
    font-size: 34px;
  }
}

.text-header-h4 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-header-h4 {
    line-height: 120%;
  }
}
@media (min-width: 1024px) {
  .text-header-h4 {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .text-header-h4 {
    font-size: 26px;
  }
}

.text-header-h5 {
  font-family: "Lora", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.text-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-subtitle {
    line-height: 160%;
  }
}
@media (min-width: 1024px) {
  .text-subtitle {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .text-subtitle {
    font-size: 26px;
  }
}

.text-accent {
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: left;
}
@media (min-width: 1920px) {
  .text-accent {
    font-size: 26px;
  }
}

.text-body-large {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-body-large {
    line-height: 160%;
  }
}
@media (min-width: 1024px) {
  .text-body-large {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .text-body-large {
    font-size: 20px;
  }
}

.dropdown__option, .header__menu-search-input, .accordion__body a, .link-filters__counter, .link-filters__tag, .link-tag,
.text-body-medium-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  color: #484848;
}
@media (min-width: 768px) {
  .dropdown__option, .header__menu-search-input, .accordion__body a, .link-filters__counter, .link-filters__tag, .link-tag,
.text-body-medium-regular {
    line-height: 160%;
  }
}
@media (min-width: 1024px) {
  .dropdown__option, .header__menu-search-input, .accordion__body a, .link-filters__counter, .link-filters__tag, .link-tag,
.text-body-medium-regular {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .dropdown__option, .header__menu-search-input, .accordion__body a, .link-filters__counter, .link-filters__tag, .link-tag,
.text-body-medium-regular {
    font-size: 18px;
  }
}

.number,
.text-body-medium-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: left;
}
@media (min-width: 1024px) {
  .number,
.text-body-medium-medium {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .number,
.text-body-medium-medium {
    font-size: 18px;
  }
}

.material-card__description,
.text-body-small-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.material-card__title,
.text-body-small-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

.datepickers input, .status-label--outline, .status-label--neutral, .status-label--info, .status-label--warning, .status-label--danger, .dropdown__select, .btn-primary,
.text-button {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .datepickers input, .status-label--outline, .status-label--neutral, .status-label--info, .status-label--warning, .status-label--danger, .dropdown__select, .btn-primary,
.text-button {
    line-height: 120%;
  }
}
@media (min-width: 1920px) {
  .datepickers input, .status-label--outline, .status-label--neutral, .status-label--info, .status-label--warning, .status-label--danger, .dropdown__select, .btn-primary,
.text-button {
    font-size: 16px;
    line-height: 19px;
  }
}

.breadcrumb .text-links, .footer__site-info-link,
.text-links {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}
@media (min-width: 768px) {
  .breadcrumb .text-links, .footer__site-info-link,
.text-links {
    line-height: 150%;
  }
}
@media (min-width: 1920px) {
  .breadcrumb .text-links, .footer__site-info-link,
.text-links {
    font-size: 16px;
  }
}

.tag-primary,
.text-tags {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .tag-primary,
.text-tags {
    line-height: 120%;
  }
}
@media (min-width: 1920px) {
  .tag-primary,
.text-tags {
    font-size: 14px;
  }
}

.text-small-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: left;
}
@media (min-width: 768px) {
  .text-small-caption {
    line-height: 160%;
  }
}
@media (min-width: 1024px) {
  .text-small-caption {
    font-size: 12px;
    line-height: 120%;
  }
}
@media (min-width: 1920px) {
  .text-small-caption {
    font-size: 14px;
    line-height: 130%;
  }
}

.text-label-semibold, .text-label-normal,
.text-label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text-label-normal {
  font-weight: 400;
}

.text-label-semibold {
  font-weight: 500;
}

.link-tag {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.link-tag::after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  padding-bottom: 2px;
}

.link-tag:hover::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}

.link-filters {
  display: flex;
  grid-column-gap: 24px;
}

.link-filters__tag-wrapper:last-child {
  padding-right: 0;
  padding-bottom: 0;
}

.link-filters__tag {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 0;
}
.link-filters__tag--active {
  border-bottom: 0;
}

.link-filters__tag::after {
  padding-bottom: calc(18px - 14px);
}

.link-filters__counter {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: -8px;
  padding-left: 8px;
}

.link-filters__tag:active {
  border-bottom: 0;
}

.link-filters__title {
  text-transform: uppercase;
}

.arrow__hover--right-large {
  cursor: pointer;
}
.arrow__hover--right-large svg {
  overflow: visible;
}
.arrow__hover--right-large:hover .arrow__head {
  transition: 0.3s;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}
.arrow__hover--right-large:hover .arrow__body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.165);
          transform: scaleX(1.165);
}
.arrow__hover--right-large .arrow__body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow__hover--right-large .arrow__head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow__hover--right-small {
  cursor: pointer;
}
.arrow__hover--right-small svg {
  overflow: visible;
}
.arrow__hover--right-small:hover .arrow__head {
  transition: 0.3s;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}
.arrow__hover--right-small:hover .arrow__body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}
.arrow__hover--right-small .arrow__body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow__hover--right-small .arrow__head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow__hover--left-large {
  cursor: pointer;
}
.arrow__hover--left-large svg {
  overflow: visible;
}
.arrow__hover--left-large:hover .arrow__head {
  transition: 0.3s;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}
.arrow__hover--left-large:hover .arrow__body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.165);
          transform: scaleX(1.165);
}
.arrow__hover--left-large .arrow__body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow__hover--left-large .arrow__head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow__hover--left-small {
  cursor: pointer;
}
.arrow__hover--left-small svg {
  overflow: visible;
}
.arrow__hover--left-small:hover .arrow__head {
  transition: 0.3s;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
}
.arrow__hover--left-small:hover .arrow__body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}
.arrow__hover--left-small .arrow__body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow__hover--left-small .arrow__head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow__link {
  text-decoration: none;
}

.btn-icon {
  margin-left: 16px;
}

.btn-collapsible {
  margin-left: 16px;
  display: none;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
  white-space: nowrap;
}
.btn-primary:hover .btn-collapsible {
  display: block;
}
.btn-primary[disabled] {
  border: 1px solid #707070;
  color: #707070;
  fill: #707070;
}
.btn-primary[disabled] .arrow__body {
  stroke: #707070;
}
.btn-primary[disabled] .arrow__head {
  fill: #707070;
}

.btn-large {
  height: 48px;
  padding: 0 86px;
}

.btn-medium {
  height: 48px;
  padding: 0 48px;
}

.btn-small {
  height: 40px;
  padding: 0 32px;
}

.btn-xsmall {
  height: 32px;
  padding: 0 24px;
}

.btn-filled {
  background-color: #000;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  color: #000;
}

.btn-ui {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.m-4 {
  margin: 4px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.p-4 {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.m-8 {
  margin: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.p-8 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.p-48 {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pl-48 {
  padding-left: 48px;
}

.pr-48 {
  padding-right: 48px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pt-48 {
  padding-top: 48px;
}

.m-64 {
  margin: 64px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.ml-64 {
  margin-left: 64px;
}

.mr-64 {
  margin-right: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.p-64 {
  padding: 64px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pl-64 {
  padding-left: 64px;
}

.pr-64 {
  padding-right: 64px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}

.m-80 {
  margin: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.p-80 {
  padding: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.m-96 {
  margin: 96px;
}

.mx-96 {
  margin-left: 96px;
  margin-right: 96px;
}

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.ml-96 {
  margin-left: 96px;
}

.mr-96 {
  margin-right: 96px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mt-96 {
  margin-top: 96px;
}

.p-96 {
  padding: 96px;
}

.px-96 {
  padding-left: 96px;
  padding-right: 96px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pl-96 {
  padding-left: 96px;
}

.pr-96 {
  padding-right: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.m-112 {
  margin: 112px;
}

.mx-112 {
  margin-left: 112px;
  margin-right: 112px;
}

.my-112 {
  margin-top: 112px;
  margin-bottom: 112px;
}

.ml-112 {
  margin-left: 112px;
}

.mr-112 {
  margin-right: 112px;
}

.mb-112 {
  margin-bottom: 112px;
}

.mt-112 {
  margin-top: 112px;
}

.p-112 {
  padding: 112px;
}

.px-112 {
  padding-left: 112px;
  padding-right: 112px;
}

.py-112 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.pl-112 {
  padding-left: 112px;
}

.pr-112 {
  padding-right: 112px;
}

.pb-112 {
  padding-bottom: 112px;
}

.pt-112 {
  padding-top: 112px;
}

.tag-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #eee9e5;
}

.tag-icon {
  margin-left: 10px;
}

.tag-removable {
  cursor: pointer;
}

.tag-large {
  height: 40px;
  padding: 0 16px;
}

.tag-small {
  height: 32px;
  padding: 0 8px;
}

.logo-fallback {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-align: left;
}
@media (min-width: 1024px) {
  .logo-fallback {
    font-size: 24px;
    line-height: 27px;
  }
}

.logo-fallback__text-name {
  font-weight: 700;
}

.logo-fallback__text-libraries {
  font-weight: 300;
}

.pagefold-inherit-parent {
  opacity: 0.2;
  background-color: #000;
}

.m-none {
  margin: nonepx;
}

.pagefold-parent--none {
  min-width: 0px;
  min-height: 0px;
  position: relative;
  display: inherit;
  clip-path: polygon(0px 0, 0 0px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(0px 0, 0 0px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--none {
  width: 0px;
  height: 0px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--none--success {
  background-color: #068802;
}
.pagefold-triangle--none--alert {
  background-color: #d5364a;
}

.m-xsmall {
  margin: xsmallpx;
}

.pagefold-parent--xsmall {
  min-width: 14px;
  min-height: 14px;
  position: relative;
  display: inherit;
  clip-path: polygon(14px 0, 0 14px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(14px 0, 0 14px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--xsmall {
  width: 14px;
  height: 14px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--xsmall--success {
  background-color: #068802;
}
.pagefold-triangle--xsmall--alert {
  background-color: #d5364a;
}

.m-small {
  margin: smallpx;
}

.pagefold-parent--small {
  min-width: 16px;
  min-height: 16px;
  position: relative;
  display: inherit;
  clip-path: polygon(16px 0, 0 16px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(16px 0, 0 16px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--small {
  width: 16px;
  height: 16px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--small--success {
  background-color: #068802;
}
.pagefold-triangle--small--alert {
  background-color: #d5364a;
}

.m-medium {
  margin: mediumpx;
}

.pagefold-parent--medium {
  min-width: 24px;
  min-height: 24px;
  position: relative;
  display: inherit;
  clip-path: polygon(24px 0, 0 24px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(24px 0, 0 24px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--medium {
  width: 24px;
  height: 24px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--medium--success {
  background-color: #068802;
}
.pagefold-triangle--medium--alert {
  background-color: #d5364a;
}

.m-large {
  margin: largepx;
}

.pagefold-parent--large {
  min-width: 38px;
  min-height: 38px;
  position: relative;
  display: inherit;
  clip-path: polygon(38px 0, 0 38px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(38px 0, 0 38px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--large {
  width: 38px;
  height: 38px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--large--success {
  background-color: #068802;
}
.pagefold-triangle--large--alert {
  background-color: #d5364a;
}

.m-xlarge {
  margin: xlargepx;
}

.pagefold-parent--xlarge {
  min-width: 56px;
  min-height: 56px;
  position: relative;
  display: inherit;
  clip-path: polygon(56px 0, 0 56px, 0 100%, 100% 100%, 100% 0);
  -webkit-clip-path: polygon(56px 0, 0 56px, 0 100%, 100% 100%, 100% 0);
}

.pagefold-triangle--xlarge {
  width: 56px;
  height: 56px;
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  position: absolute;
  top: 0;
  left: 0;
}
.pagefold-triangle--xlarge--success {
  background-color: #068802;
}
.pagefold-triangle--xlarge--alert {
  background-color: #d5364a;
}

.accordion {
  background-color: #eee9e5;
}

.accordion__button-arrow {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.accordion__button {
  color: #000;
  border-width: 0;
  border-color: transparent;
  border-radius: 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dbdbdb;
}
.accordion__button[aria-expanded=true] {
  border-bottom: 1px solid #dbdbdb;
}
.accordion__button[aria-expanded=true] .accordion__button-arrow {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

.accordion__row {
  list-style-type: none;
}

.accordion__header {
  height: 60px;
}
.accordion__header button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.accordion__body {
  display: grid;
}
.accordion__body a {
  line-height: 32px;
  padding-left: 48px;
  text-decoration: none;
}
.accordion__body[hidden] {
  display: none;
}

.accordion__row:last-child .accordion__button {
  border-bottom: 1px solid #dbdbdb;
}
.accordion__row:last-child .accordion__body {
  border-bottom: 1px solid #dbdbdb;
}

.header {
  border: 1px solid #dbdbdb;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f6f5f0;
}
@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 105px;
  }
}
@media (min-width: 1024px) {
  .header {
    grid-template-columns: 250px 1fr 105px;
  }
}

.header__logo-desktop {
  display: none;
  border-right: 1px solid #dbdbdb;
}
@media (min-width: 1024px) {
  .header__logo-desktop {
    display: block;
  }
}

.header__logo-desktop-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header__menu-first {
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.header__menu-navigation-logo {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.header__menu-navigation {
  display: none;
}
@media (min-width: 1024px) {
  .header__menu-navigation {
    display: flex;
    padding: 0 12px;
    height: 100%;
  }
}

.header__menu-navigation-mobile {
  display: flex;
}
@media (min-width: 768px) {
  .header__menu-navigation-mobile .pagefold-triangle-small {
    display: none;
  }
}
@media (min-width: 1024px) {
  .header__menu-navigation-mobile {
    display: none;
  }
}

.header__menu-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dbdbdb;
}

.header__menu-navigation-item:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #000;
}

.header__menu-navigation-link {
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu-profile,
.header__menu-bookmarked {
  position: relative;
  border-left: 1px solid #dbdbdb;
}
.header__menu-profile a,
.header__menu-bookmarked a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__menu-profile span,
.header__menu-bookmarked span {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding: 0 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .header__menu-profile span,
.header__menu-bookmarked span {
    bottom: 4px;
  }
}
.header__menu-profile .header__notification,
.header__menu-bookmarked .header__notification {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  -webkit-transform: translateX(10px) translateY(-12px);
          transform: translateX(10px) translateY(-12px);
}

.header__menu-search {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.header__menu-search-input {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  border: 0 solid transparent;
  background-color: transparent;
  font-size: 16px;
}
.header__menu-search-input ::-webkit-input-placeholder {
  color: #484848;
}
.header__menu-search-input :-ms-input-placeholder {
  color: #484848;
}
.header__menu-search-input ::placeholder {
  color: #484848;
}
.header__menu-search-input:focus {
  background-color: #fff;
  border: 0 solid transparent;
  outline: none;
}

.header__menu-search-icon {
  position: absolute;
  right: 24px;
}

.header__clock {
  border-left: 1px solid #dbdbdb;
  display: none;
}
@media (min-width: 768px) {
  .header__clock {
    display: block;
  }
}

.header__clock-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__button {
  height: 56px;
  width: 56px;
}
@media (min-width: 768px) {
  .header__button {
    height: 70px;
    width: 70px;
  }
}

#header__overlay.visible {
  display: grid;
}

#header__overlay {
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 384px 1fr;
}
@media (min-width: 768px) {
  #header__overlay {
    grid-template-columns: 384px 1fr;
  }
}

.header__overlay-main {
  background-color: #f6f5f0;
}

.header__overlay-backdrop {
  background-color: #000;
  opacity: 0.6;
}

.header__overlay-menu {
  margin-top: 96px;
  margin-left: 56px;
}

.header__overlay-menu-item {
  margin-bottom: 8px;
}

#header__menu--close {
  position: fixed;
  padding: 30px;
}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown__select {
  appearance: none;
  -webkit-appearance: none;
  min-width: 230px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  border-radius: 0;
  border: 1px solid #000;
}

.dropdown__option {
  text-transform: capitalize;
  background-color: #f9f9f9;
  height: 400px;
}

.dropdown__arrows {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid #000;
}

.dropdown__arrow--bottom {
  margin-top: 4px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.footer .footer__mobile {
  display: block;
}
.footer .footer__desktop {
  display: none;
}
@media (min-width: 768px) {
  .footer .footer__mobile {
    display: none;
  }
  .footer .footer__desktop {
    display: block;
  }
  .footer .footer__desktop .footer__column-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
    grid-gap: 82px;
  }
  .footer .footer__desktop .footer__column {
    width: 263px;
    height: auto;
  }
}
.footer .pagefold-parent--small,
.footer .pagefold-parent--medium {
  width: 100vw;
  height: auto;
}
.footer .internal-pagefold-parent {
  background-color: #eee9e5;
}
@media (min-width: 1024px) {
  .footer .internal-pagefold-parent {
    padding: 56px 100px 24px;
  }
}

.footer__widgets {
  display: flex;
  justify-content: space-between;
}

.footer .dropdown {
  width: 82px;
}
.footer .dropdown .dropdown__select {
  background-color: #eee9e5;
  height: 32px;
  padding: 0 12px;
  min-width: 82px;
}
.footer .dropdown .dropdown__arrows {
  height: 32px;
  width: 32px;
}

.footer__desktop .footer__site-info {
  display: flex;
  justify-content: space-between;
}

.footer__site-info-links {
  display: flex;
}
.footer__site-info-links li {
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .footer__site-info-links li {
    padding-bottom: 0;
  }
  .footer__site-info-links a {
    padding-right: 24px;
  }
  .footer__site-info-links a:last-child {
    padding-right: 0;
  }
}

.footer__site-info-icons {
  display: flex;
}
.footer__site-info-icons a {
  padding-right: 24px;
}

.footer__separator {
  border-bottom: 1px solid #dbdbdb;
  margin: 24px 0;
}

.footer__mobile .footer__separator {
  margin: 24px -50px;
}

.footer__column-link {
  margin-top: 16px;
}

.footer__site-info-link {
  text-decoration: none;
}

.footer__column-phone {
  color: #000;
  text-decoration: none;
}

.footer__mobile .accordion {
  margin: 0 -50px;
}

.breadcrumb .arrow__link {
  text-decoration: none;
}
.breadcrumb .text-links {
  color: #484848;
  margin-bottom: -4px;
}
.breadcrumb .arrow__body {
  stroke: #484848;
}
.breadcrumb .arrow__head {
  fill: #484848;
}

.missing-story {
  color: #d5364a;
}

.warning-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
@media (min-width: 768px) {
  .warning-bar {
    padding: 16px 32px;
  }
}

.warning-bar__icon {
  margin-right: 16px;
}

.warning-bar__left {
  display: flex;
  align-items: start;
}
@media (min-width: 768px) {
  .warning-bar__left {
    align-items: center;
  }
}

.warning-bar__right {
  display: flex;
  align-items: center;
}

.warning-bar__owes {
  margin-right: 8px;
}
@media (min-width: 768px) {
  .warning-bar__owes {
    margin-right: 24px;
  }
}

.status-label {
  height: 24px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.status-label--danger {
  background-color: #d5364a;
  color: #fff;
}
.status-label--warning {
  background-color: #f7bf42;
  color: #484848;
}
.status-label--info {
  background-color: #068802;
  color: #fff;
}
.status-label--neutral {
  background-color: #f6f5f0;
  color: #484848;
}
.status-label--outline {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #484848;
}

.number {
  min-width: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 100%;
}
@media (min-width: 768px) {
  .number {
    min-width: 56px;
    width: 56px;
    height: 56px;
  }
}
.number--danger {
  border-color: #d5364a;
}
.number--warning {
  border-color: #f7bf42;
}
.number--info {
  border-color: #068802;
}
.number--neutral {
  border-color: #484848;
}

.counter {
  width: 92px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.counter__value {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}

.counter__label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}

.counter__icon {
  margin-bottom: 2px;
}

.checkbox__input {
  position: absolute;
  visibility: hidden;
}

.checkbox__label {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.checkbox__label .checkbox__icon {
  vertical-align: middle;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.checkbox__label .checkbox__icon:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border: 1px solid #707070;
  transition: all 0.3s ease;
}

.checkbox__label .checkbox__icon:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.checkbox__label .checkbox__text:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox__label:hover .checkbox__icon:first-child {
  border-color: #484848;
}

/* stylelint-disable selector-max-compound-selectors */
.checkbox__input:checked + .checkbox__label .checkbox__icon:first-child {
  background: #484848;
  border-color: #484848;
  -webkit-animation: zoom-in-out 0.3s ease;
          animation: zoom-in-out 0.3s ease;
}
.checkbox__input:checked + .checkbox__label .checkbox__icon:first-child svg {
  stroke-dashoffset: 0;
}

@-webkit-keyframes zoom-in-out {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes zoom-in-out {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
.availability-label {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 25px;
  background-color: #f6f5f0;
}
.availability-label--selected {
  border: 1px solid #000;
}
.availability-label--unselected {
  border: 1px solid #dbdbdb;
}
.availability-label--divider {
  height: 14px;
  width: 1px;
  background-color: #dbdbdb;
}
.availability-label--check {
  width: 14px;
  position: absolute;
  left: 5px;
  display: none;
}
.availability-label--check.selected {
  display: inline-block;
}

.list-reservation-container {
  position: relative;
}

.list-reservation {
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 16px;
}
@media (min-width: 768px) {
  .list-reservation {
    grid-template-columns: 1fr 1fr;
    height: 184px;
    padding: 24px;
  }
}

.list-reservation__material {
  display: flex;
  align-items: center;
}

.list-reservation__note-mobile {
  display: block;
  margin-top: 4px;
  white-space: break-spaces;
  font-size: 12px;
}
@media (min-width: 768px) {
  .list-reservation__note-mobile {
    display: none;
  }
}

.list-reservation__note-desktop {
  display: none;
}
@media (min-width: 768px) {
  .list-reservation__note-desktop {
    display: block;
  }
}

.list-reservation__information {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .list-reservation__information {
    margin-left: 24px;
    justify-content: space-between;
  }
}

.list-reservation__about {
  margin: 16px 0;
}
.list-reservation__about p {
  margin-top: 2px;
}
@media (min-width: 768px) {
  .list-reservation__about {
    margin-top: 0;
  }
}

.list-reservation__status {
  display: grid;
  align-items: flex-end;
  grid-template-columns: auto 1fr auto;
}
@media (min-width: 768px) {
  .list-reservation__status {
    align-items: center;
  }
}

.list-reservation__counter {
  display: none;
}
@media (min-width: 768px) {
  .list-reservation__counter {
    width: 92px;
    display: block;
  }
}

.list-reservation__deadline {
  display: inline-grid;
  grid-row-gap: 8px;
  margin-left: 88px;
}
@media (min-width: 768px) {
  .list-reservation__deadline {
    margin-left: 32px;
  }
}

.list-reservation__fee > p {
  text-align: end;
  white-space: nowrap;
}

.list-reservation--stacked::before, .list-reservation--stacked::after {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  -webkit-perspective: 500px;
          perspective: 500px;
  box-shadow: 0 4px 20px rgba(72, 72, 72, 0.1);
}

.list-reservation--stacked::after {
  content: " ";
  -webkit-transform: translateY(8px) scale(0.95);
          transform: translateY(8px) scale(0.95);
  z-index: -1;
}
.list-reservation--stacked::before {
  content: " ";
  -webkit-transform: translateY(16px) scale(0.9);
          transform: translateY(16px) scale(0.9);
  z-index: -2;
}

.list-dashboard {
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
  padding: 16px;
}
@media (min-width: 768px) {
  .list-dashboard {
    padding: 16px 24px;
  }
}

.list-dashboard__title {
  margin-left: 8px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .list-dashboard__title {
    margin-left: 24px;
  }
}

.list-dashboard__dot {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 8px;
  height: 8px;
  background: #d63649;
  border-radius: 100%;
}

.list-details {
  display: flex;
  align-items: flex-start;
  min-height: 72px;
  padding: 16px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .list-details {
    height: 96px;
    padding: 16px 32px;
    align-items: center;
  }
}

.list-details__icon {
  margin-top: 8px;
  margin-right: 16px;
  width: 24px;
}
@media (min-width: 768px) {
  .list-details__icon {
    margin-top: 0;
    margin-right: 32px;
    width: 32px;
  }
}

.list-details__container {
  width: 100%;
}
@media (min-width: 768px) {
  .list-details__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.list-details__menu {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .list-details__menu {
    margin-top: 0;
  }
}

.list-materials {
  display: flex;
  min-height: 72px;
  padding: 16px;
  background-color: #eee9e5;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .list-materials {
    height: 96px;
    padding: 16px 32px;
    align-items: center;
    flex-direction: row;
  }
}

.list-materials__checkbox {
  display: flex;
  align-items: center;
}

.list-materials__content {
  flex: 1 1;
}

.list-materials__selected {
  background-color: #fff;
}

.list-materials__status {
  display: none;
}
@media (min-width: 768px) {
  .list-materials__status {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    grid-gap: 16px;
  }
}
.list-materials__status .text-small-caption {
  color: #484848;
}

.list-materials__content-status {
  display: inline-flex;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
@media (min-width: 768px) {
  .list-materials__content-status {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .list-materials__content-status-label {
    display: none;
  }
}

.modal-details {
  flex-direction: column;
  align-items: center;
}

.modal-show {
  display: flex;
  opacity: 1;
}

.modal-details__container {
  margin: 0 24px;
  max-width: 1000px;
}
@media (min-width: 768px) {
  .modal-details__container {
    margin: 0 45px;
  }
}

.modal-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .modal-details__header {
    flex-direction: row;
    align-items: center;
    padding-top: 96px;
    width: 80%;
  }
}

.modal-details__cover {
  margin: 48px 0;
}
@media (min-width: 768px) {
  .modal-details__cover {
    margin: 0;
  }
}

.modal-details__material {
  margin: 0;
}
@media (min-width: 768px) {
  .modal-details__material {
    margin: 0 46px;
  }
}

.modal-details__tags {
  display: flex;
  grid-column-gap: 8px;
  margin-bottom: 16px;
}

/* 
  We disable stylelint here since -webkit-box 
  uses ellipsis for truncating which we need.
  https://caniuse.com/?search=line-clamp
*/
.modal-details__title {
  display: block;
  /* stylelint-disable-next-line */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: normal;
}

.modal-details__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modal-details__warning {
  margin-top: 40px;
}

.modal-details__list {
  display: grid;
  grid-row-gap: 10px;
  margin-top: 40px;
}

.modal-details__banner {
  width: 100%;
  margin-top: 128px;
}

.modal-details__close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 34px;
  transition: 0.3s;
  z-index: 2;
}
.modal-details__close:hover {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.modal-cta {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-cta__container {
  max-width: 550px;
}

.modal-cta__buttons {
  display: grid;
  justify-content: center;
}

.modal-cta__link {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.modal-loan {
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
}

.modal-loan__container {
  margin: 0 24px;
  max-width: 1000px;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-loan__container {
    margin: 0 45px;
  }
}

.modal-loan__header {
  display: flex;
  align-items: center;
}

.modal-loan__list-container {
  display: grid;
  grid-row-gap: 100px;
}

.modal-loan__list {
  position: relative;
  margin-top: 24px;
}

.modal-loan__count {
  position: absolute;
  top: -48px;
}

.modal-loan__list-materials {
  display: grid;
  grid-row-gap: 8px;
}

.modal-loan__buttons {
  display: flex;
  grid-gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.modal-search {
  flex-direction: column;
  align-items: center;
}

.modal-search__container {
  margin: 0 24px;
  padding-top: 96px;
  max-width: 550px;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-search__container {
    margin: 0 45px;
  }
}

.modal-search__buttons {
  display: grid;
  justify-content: center;
}

.modal-search__input-element {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
  border-radius: 0;
}

.modal-text {
  flex-direction: column;
  align-items: center;
}

.modal-text__container {
  margin: 0 24px;
  padding-top: 96px;
  padding-bottom: 100px;
  max-width: 550px;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-text__container {
    margin: 0 45px;
  }
}

.modal-text__content {
  display: grid;
  grid-row-gap: 16px;
  margin-top: 32px;
}

.modal-text__buttons {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 88px;
  width: 100%;
  background-color: #f6f5f0;
  -webkit-filter: drop-shadow(4px 0 20px rgba(72, 72, 72, 0.1));
          filter: drop-shadow(4px 0 20px rgba(72, 72, 72, 0.1));
}

.modal-text__buttons-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 24px;
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.modal-pause {
  flex-direction: column;
  align-items: center;
}

.modal-pause__container {
  margin: 0 24px;
  padding-top: 96px;
  max-width: 550px;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-pause__container {
    margin: 0 45px;
  }
}

.modal-pause__button {
  display: grid;
  justify-content: center;
}

.modal_pause__text-link .link-tag {
  font-size: 14px;
  padding-left: 5px;
}

.datepickers {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .datepickers {
    display: flex;
    justify-content: space-between;
  }
}
.datepickers input {
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  background-color: #f6f5f0;
  min-width: 230px;
  height: 50px;
  padding: 0 10px;
  color: #484848;
}
@media (min-width: 768px) {
  .datepickers input {
    min-width: 250px;
    padding: 0 20px;
  }
}
.datepickers .datepicker {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  .datepickers .datepicker {
    margin-bottom: 0;
  }
}
.datepickers [type=date] {
  background: #f6f5f0 url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png") 90% 50% no-repeat;
}
.datepickers [type=date]::-webkit-inner-spin-button {
  display: none;
}
.datepickers [type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.datepickers .datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 19px;
}

.material-container {
  display: flex;
}

.material {
  display: inline-block;
  overflow: hidden;
}
.material > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.material--small {
  aspect-ratio: 0.69;
  height: 104px;
}
@media (min-width: 768px) {
  .material--small {
    height: 137px;
  }
}
.material--medium {
  aspect-ratio: 0.69;
  height: 216px;
}
@media (min-width: 768px) {
  .material--medium {
    height: 216px;
  }
}
.material--large {
  aspect-ratio: 0.79;
  height: 216px;
}
@media (min-width: 768px) {
  .material--large {
    height: 216px;
  }
}

.material__animate > img {
  -webkit-animation: 0.3s ease-out 0s 1 MaterialFadeIn;
          animation: 0.3s ease-out 0s 1 MaterialFadeIn;
}

@-webkit-keyframes MaterialFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05) translateY(5px);
            transform: scale(1.05) translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}

@keyframes MaterialFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05) translateY(5px);
            transform: scale(1.05) translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
  }
}
.material-banner__header {
  position: relative;
  padding: 24px;
}
@media (min-width: 768px) {
  .material-banner__header {
    padding: 24px 45px;
  }
}
@media (min-width: 1024px) {
  .material-banner__header {
    padding: 50px 0 45px 100px;
  }
}

.material-banner__row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .material-banner__row {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.material-banner__menu {
  margin-top: 16px;
  padding-right: 20px;
}
.material-banner__menu .link-filters {
  display: none;
}
@media (min-width: 1024px) {
  .material-banner__menu {
    position: absolute;
    top: 88px;
    right: 20px;
  }
  .material-banner__menu .dropdown {
    display: none;
  }
  .material-banner__menu .link-filters {
    display: flex;
  }
}
.material-banner__menu .link-filters__tag-wrapper {
  position: relative;
}
@media (min-width: 1440px) {
  .material-banner__menu {
    position: unset;
    top: unset;
    right: unset;
    padding-right: 20px;
  }
}

.material-banner__cards {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(2, 1fr);
  background-color: #dbdbdb;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.material-banner__cards .material-card {
  background-color: #f6f5f0;
}
@media (min-width: 768px) {
  .material-banner__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1440px) {
  .material-banner__cards {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

.material-card {
  padding: 16px;
  max-width: 500px;
  text-decoration: none;
  height: 100%;
}

.material-card__icon {
  display: flex;
  justify-content: flex-end;
}

.material-card__material {
  display: flex;
  justify-content: center;
}
.material-card__material .material {
  margin-top: 8px;
}

.material-card__texts {
  margin-top: 16px;
  display: grid;
}
@media (min-width: 768px) {
  .material-card__texts {
    margin-top: 32px;
  }
}

.material-card__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.hide-linkstyle {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Hide element visually but not from screen readers.
 *
 * https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/
 *
 * The class is intentionally called .hide-visually and not .visually-hidden.
 * Drupal which is a known consumer of the design system also has a
 * .visually-hidden class where the implementation is a bit different.
 * To avoid any conflicts we call our class something else.
 *
 * https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/system/css/components/hidden.module.css#L18-33
 */
.hide-visually {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.modal-btn-close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 34px;
  transition: 0.3s;
  z-index: 2;
}
.modal-btn-close:hover {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.modal {
  --parent-bg-color: #f6f5f0;
  background-color: #f6f5f0;
  position: relative;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
  min-height: 100vh;
  height: 100%;
}

.modal-padding {
  padding: 20px;
}

.modal-show {
  display: flex;
  opacity: 1;
}

:root {
  --parent-bg-color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.modal-btn-fallback {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.internal-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px;
}

.internal-colors-container {
  margin-top: 20px;
}

.internal-colors-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.internal-colors-box {
  width: 150px;
  height: 150px;
}

.internal-colors-code pre {
  display: grid;
  grid-template-columns: -webkit-min-content;
  grid-template-columns: min-content;
}

.internal-spacing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-column-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.internal-spacing-scale-inner {
  display: grid;
  grid-template-columns: 60px 350px;
}

.internal-spacing-scale-box {
  background-color: #c96fe6;
  opacity: 0.1;
}

.internal-spacing-css-inner-prefix {
  border: 1px solid #dbdbdb;
  width: 200px;
  height: 60px;
}

.internal-spacing-css-inner-property {
  border: 1px solid #dbdbdb;
  width: 250px;
  height: 60px;
}

.internal-spacing-css-inner {
  display: flex;
}

.internal-breakpoints-css-inner-prefix {
  border: 1px solid #dbdbdb;
  width: 250px;
  height: 60px;
}

.internal-breakpoints-css-inner-property {
  border: 1px solid #dbdbdb;
  width: 90px;
  height: 60px;
}

.internal-breakpoints-css-inner {
  display: flex;
}

code {
  font-family: monospace;
  background-color: #f5f8fa;
  padding: 4px;
  border-radius: 2px;
  font-size: 90%;
  line-height: 1.45;
}

.internal-pagefold-parent {
  width: 300px;
  height: 300px;
  background: #eee9e5;
  padding: 50px;
}

.internal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.internal-arrow-box {
  width: 300px;
  height: 300px;
  border: 1px solid;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  transition: 0.3s;
}

.internal-arrow-box:hover {
  background-color: #f5f8fa;
}

.sb-main-padded {
  padding: 0 !important;
}

.sb-show-main {
  padding: 0 !important;
}

.bg-global-primary {
  background-color: #f6f5f0;
}

.bg-global-secondary {
  background-color: #eee9e5;
}

.bg-global-tertiary-1 {
  background-color: #dbdbdb;
}

.bg-global-tertiary-2 {
  background-color: #707070;
}

.border-global-primary {
  border: 1px solid #f6f5f0;
  stroke: #f6f5f0;
}

.border-global-secondary {
  border: 1px solid #eee9e5;
  stroke: #eee9e5;
}

.border-global-tertiary-1 {
  border: 1px solid #dbdbdb;
  stroke: #dbdbdb;
}

.border-global-tertiary-2 {
  border: 1px solid #707070;
  stroke: #707070;
}

.bg-identity-primary {
  background-color: hsl(145, 22%, 35%, 1);
  background-color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  fill: hsl(145, 22%, 35%, 1);
  fill: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
}

.border-identity-primary {
  border: 1px solid hsl(145, 22%, 35%, 1);
  border: 1px solid hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
  stroke: hsl(145, 22%, 35%, 1);
  stroke: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
}

.color-identity-primary {
  color: hsl(145, 22%, 35%, 1);
  color: hsl(var(--identity-color-h), var(--identity-color-s), var(--identity-color-l), 1);
}

.color-secondary-gray {
  color: #484848;
}

.bg-identity-tint-20 {
  background-color: hsl(145, 22%,
    35%, 0.2);
  background-color: var(--tint-color-20);
}

.bg-identity-tint-40 {
  background-color: hsl(145, 22%,
    35%, 0.4);
  background-color: var(--tint-color-40);
}

.bg-identity-tint-60 {
  background-color: hsl(145, 22%,
    35%, 0.6);
  background-color: var(--tint-color-60);
}

.bg-identity-tint-80 {
  background-color: hsl(145, 22%,
    35%, 0.8);
  background-color: var(--tint-color-80);
}

.bg-identity-tint-120 {
  background-color: hsl(
    145,
    calc(22% - 1%),
    calc(35% - 8%)
  );
  background-color: var(--tint-color-120);
}

.color-primary-white {
  color: #fff;
}

.color-primary-black {
  color: #000;
}

.border-primary-white {
  border: 1px solid #fff;
  stroke: #fff;
}

.border-primary-black {
  border: 1px solid #000;
  stroke: #000;
}

.border-secondary-gray {
  border: 1px solid #484848;
  stroke: #484848;
}

.bg-color-primary-white {
  background-color: #fff;
}

.bg-color-primary-black {
  background-color: #000;
}

.bg-color-secondary-gray {
  background-color: #484848;
}

.bg-signal-success {
  background-color: #068802;
}

.bg-signal-aware {
  background-color: #f7bf42;
}

.bg-signal-alert {
  background-color: #d5364a;
}

.border-signal-success {
  border: 1px solid #068802;
  stroke: #068802;
}

.border-signal-aware {
  border: 1px solid #f7bf42;
  stroke: #f7bf42;
}

.border-signal-alert {
  border: 1px solid #d5364a;
  stroke: #d5364a;
}

.color-signal-success {
  color: #068802;
}

.color-signal-aware {
  color: #f7bf42;
}

.color-signal-alert {
  color: #d5364a;
}

/*# sourceMappingURL=base.css.map */


/*# sourceMappingURL=main.7f583374.chunk.css.map*/