@import url(https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lora&family=Noto+Sans+JP:wght@400;500&display=swap);
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and list styles */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.internal-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.internal-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
}

.internal-colors-container {
  margin-top: 20px;
}

.internal-colors-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.internal-colors-box {
  width: 150px;
  height: 150px;
}

.internal-spacing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-column-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.internal-spacing-scale-inner {
  display: grid;
  grid-template-columns: 60px 350px;
}

.internal-spacing-scale-box {
  background-color: #c96fe6;
  opacity: 0.1;
}

.internal-spacing-css-inner-prefix {
  border: 1px solid #dbdbdb;
  width: 200px;
  height: 60px;
}

.internal-spacing-css-inner-property {
  border: 1px solid #dbdbdb;
  width: 250px;
  height: 60px;
}

.internal-spacing-css-inner {
  display: flex;
}

.internal-spacing-css-inner-prefix,
.internal-spacing-css-inner-property {
  background-color: #fff;
}

code {
  font-family: monospace;
  background-color: #f5f8fa;
  padding: 4px;
  border-radius: 2px;
  font-size: 90%;
  line-height: 1.45;
}

.text-header-h1 {
  font-family: "Lora", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (min-width: 1920px) {
  .text-header-h1 {
    font-size: 58px;
    line-height: 70px;
  }
}

.text-header-h2 {
  font-family: "Lora", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h2 {
    font-size: 42px;
    line-height: 50px;
  }
}
@media (min-width: 1920px) {
  .text-header-h2 {
    font-size: 44px;
    line-height: 53px;
  }
}

.text-header-h3 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h3 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (min-width: 1920px) {
  .text-header-h3 {
    font-size: 34px;
    line-height: 41px;
  }
}

.text-header-h4 {
  font-family: "Lora", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-header-h4 {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1920px) {
  .text-header-h4 {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-subtitle {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 1920px) {
  .text-subtitle {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-accent {
  font-family: "Gochi Hand", cursive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
}
@media (min-width: 1920px) {
  .text-accent {
    font-size: 26px;
    line-height: 31px;
  }
}

.text-body-large {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-large {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 1920px) {
  .text-body-large {
    font-size: 20px;
    line-height: 24px;
  }
}

.text-body-medium-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-medium-regular {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1920px) {
  .text-body-medium-regular {
    font-size: 18px;
    line-height: 22px;
  }
}

.text-body-medium-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-body-medium-medium {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (min-width: 1920px) {
  .text-body-medium-medium {
    font-size: 18px;
    line-height: 22px;
  }
}

.btn-primary {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 1920px) {
  .btn-primary {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-links {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  text-decoration: underline;
}
@media (min-width: 1920px) {
  .text-links {
    font-size: 16px;
    line-height: 19px;
  }
}

.tag-primary {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width: 1920px) {
  .tag-primary {
    font-size: 16px;
    line-height: 19px;
  }
}

.text-small-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
}
@media (min-width: 1024px) {
  .text-small-caption {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (min-width: 1920px) {
  .text-small-caption {
    font-size: 14px;
    line-height: 17px;
  }
}

.arrow-hover-right-large {
  cursor: pointer;
}
.arrow-hover-right-large svg {
  overflow: visible;
}
.arrow-hover-right-large:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.arrow-hover-right-large:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.333);
          transform: scaleX(1.333);
}
.arrow-hover-right-large .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow-hover-right-large .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-right-small {
  cursor: pointer;
}
.arrow-hover-right-small svg {
  overflow: visible;
}
.arrow-hover-right-small:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
.arrow-hover-right-small:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}
.arrow-hover-right-small .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.arrow-hover-right-small .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-left-large {
  cursor: pointer;
}
.arrow-hover-left-large svg {
  overflow: visible;
}
.arrow-hover-left-large:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}
.arrow-hover-left-large:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(1.333);
          transform: scaleX(1.333);
}
.arrow-hover-left-large .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow-hover-left-large .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.arrow-hover-left-small {
  cursor: pointer;
}
.arrow-hover-left-small svg {
  overflow: visible;
}
.arrow-hover-left-small:hover .arrow-head {
  transition: 0.3s;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}
.arrow-hover-left-small:hover .arrow-body {
  transition: 0.3s;
  -webkit-transform: scaleX(2);
          transform: scaleX(2);
}
.arrow-hover-left-small .arrow-body {
  transition: 0.6s;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.arrow-hover-left-small .arrow-head {
  transition: 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

:root {
  --tint-color-h: 145;
  --tint-color-s: 22%;
  --tint-color-l: 35%;
  --tint-color-hsl: var(--tint-color-h), var(--tint-color-s),
    var(--tint-color-l);
  --tint-color: hsl(var(--tint-color-hsl));
  --tint-color-20: hsl(var(--tint-color-hsl), 0.2);
  --tint-color-40: hsl(var(--tint-color-hsl), 0.4);
  --tint-color-60: hsl(var(--tint-color-hsl), 0.6);
  --tint-color-80: hsl(var(--tint-color-hsl), 0.8);
  --tint-color-120: hsl(
    var(--tint-color-h),
    calc(var(--tint-color-s) - 1%),
    calc(var(--tint-color-l) - 8%)
  );
}

.bg-global-primary {
  background-color: #f6f5f0;
}

.bg-global-secondary {
  background-color: #eee9e5;
}

.bg-global-tertiary {
  background-color: #dbdbdb;
}

.border-global-primary {
  border-color: #f6f5f0;
}

.border-global-secondary {
  border-color: #eee9e5;
}

.border-global-tertiary {
  border-color: #dbdbdb;
}

.bg-identity-primary {
  background-color: #476e57;
}

.border-identity-primary {
  border-color: #476e57;
}

.color-identity-primary {
  border-color: #476e57;
}

.bg-identity-tint-20 {
  background-color: hsl(145, 22%,
    35%, 0.2);
  background-color: var(--tint-color-20);
}

.bg-identity-tint-40 {
  background-color: hsl(145, 22%,
    35%, 0.4);
  background-color: var(--tint-color-40);
}

.bg-identity-tint-60 {
  background-color: hsl(145, 22%,
    35%, 0.6);
  background-color: var(--tint-color-60);
}

.bg-identity-tint-80 {
  background-color: hsl(145, 22%,
    35%, 0.8);
  background-color: var(--tint-color-80);
}

.bg-identity-tint-120 {
  background-color: hsl(
    145,
    calc(22% - 1%),
    calc(35% - 8%)
  );
  background-color: var(--tint-color-120);
}

.color-primary-white {
  color: #fff;
}

.color-primary-black {
  color: #000;
}

.color-secondary-gray {
  color: #484848;
}

.bg-color-primary-white {
  background-color: #fff;
}

.bg-color-primary-black {
  background-color: #000;
}

.bg-color-secondary-gray {
  background-color: #484848;
}

.bg-signal-success {
  background-color: #3aaa36;
}

.bg-signal-aware {
  background-color: #f7bf42;
}

.bg-signal-alert {
  background-color: #d5364a;
}

.border-signal-success {
  border-color: #3aaa36;
}

.border-signal-aware {
  border-color: #f7bf42;
}

.border-signal-alert {
  border-color: #d5364a;
}

.color-signal-success {
  color: #3aaa36;
}

.color-signal-aware {
  color: #f7bf42;
}

.color-signal-alert {
  color: #d5364a;
}

.btn-icon {
  margin-left: 16px;
}

.btn-collapsible {
  margin-left: 16px;
  display: none;
}

.btn-primary {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #000;
  cursor: pointer;
}
.btn-primary:hover .btn-collapsible {
  display: block;
}
.btn-primary[disabled] {
  border: 1px solid #dbdbdb;
  color: #dbdbdb;
  fill: #dbdbdb;
}
.btn-primary[disabled] .btn-icon {
  opacity: 0.6;
}

.m-8 {
  margin: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.p-8 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.ml-48 {
  margin-left: 48px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.p-48 {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pl-48 {
  padding-left: 48px;
}

.pr-48 {
  padding-right: 48px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pt-48 {
  padding-top: 48px;
}

.m-64 {
  margin: 64px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.ml-64 {
  margin-left: 64px;
}

.mr-64 {
  margin-right: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.p-64 {
  padding: 64px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pl-64 {
  padding-left: 64px;
}

.pr-64 {
  padding-right: 64px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pt-64 {
  padding-top: 64px;
}

.m-80 {
  margin: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.ml-80 {
  margin-left: 80px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.p-80 {
  padding: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.m-96 {
  margin: 96px;
}

.mx-96 {
  margin-left: 96px;
  margin-right: 96px;
}

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.ml-96 {
  margin-left: 96px;
}

.mr-96 {
  margin-right: 96px;
}

.mb-96 {
  margin-bottom: 96px;
}

.mt-96 {
  margin-top: 96px;
}

.p-96 {
  padding: 96px;
}

.px-96 {
  padding-left: 96px;
  padding-right: 96px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.pl-96 {
  padding-left: 96px;
}

.pr-96 {
  padding-right: 96px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pt-96 {
  padding-top: 96px;
}

.m-112 {
  margin: 112px;
}

.mx-112 {
  margin-left: 112px;
  margin-right: 112px;
}

.my-112 {
  margin-top: 112px;
  margin-bottom: 112px;
}

.ml-112 {
  margin-left: 112px;
}

.mr-112 {
  margin-right: 112px;
}

.mb-112 {
  margin-bottom: 112px;
}

.mt-112 {
  margin-top: 112px;
}

.p-112 {
  padding: 112px;
}

.px-112 {
  padding-left: 112px;
  padding-right: 112px;
}

.py-112 {
  padding-top: 112px;
  padding-bottom: 112px;
}

.pl-112 {
  padding-left: 112px;
}

.pr-112 {
  padding-right: 112px;
}

.pb-112 {
  padding-bottom: 112px;
}

.pt-112 {
  padding-top: 112px;
}

.tag-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 8px;
  background-color: #eee9e5;
}

.tag-icon {
  margin-left: 10px;
}

.tag-removable {
  cursor: pointer;
}

/*# sourceMappingURL=base.css.map */


/*# sourceMappingURL=main.9f5176eb.chunk.css.map*/