.logo {
  img {
    display: none;
    @include media-query__small {
      display: block;
    }
  }
}

.logo-fallback {
  @include typography($typo__body-small);
}

.logo-fallback__text-name {
  font-weight: 700;
}

.logo-fallback__text-libraries {
  font-weight: 300;
}

.logo-fallback--has-image {
  @include media-query__small {
    display: none;
  }
}
