.article-header {
  display: grid;
  gap: $s-xl;
  padding: $s-4xl $s-xl;
  position: relative;

  @include media-query__small {
    padding: $s-4xl $s-7xl;
  }

  &__back-link {
    position: absolute;
    left: $s-md;
    top: $s-sm;

    @include media-query__small {
      left: $s-2xl;
      top: $s-lg;
    }
  }

  &__title,
  &__subtitle {
    @include media-query__small {
      max-width: 897px;
    }
  }

  &__info {
    display: flex;
    align-items: baseline;
    gap: $s-xs;
  }

  &__date {
    margin-left: $s-xs;
  }
}
