.number {
  min-width: $s-odd-40;
  width: $s-odd-40;
  height: $s-odd-40;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 100%;
  @include typography($typo__body-medium);

  @include media-query__small {
    min-width: $s-odd-56;
    width: $s-odd-56;
    height: $s-odd-56;
  }

  &--danger {
    border-color: $color__signal-alert;
  }

  &--warning {
    border-color: $color__signal-aware;
  }

  &--info {
    border-color: $color__signal-success;
  }

  &--neutral {
    border-color: $color__text-secondary-gray;
  }
}
