.material-header {
  border-bottom: 1px solid $color__global-tertiary-1;

  &__cover,
  &__content {
    padding: $hero-padding-small;
  }

  &__cover {
    display: grid;
    place-content: center;
    padding-bottom: 0;
  }

  @include media-query__small {
    display: flex;
    flex-direction: row-reverse;

    &__cover,
    &__content {
      box-sizing: border-box;
      width: 100%;
      padding: $hero-padding-large;
    }

    &__content {
      border-right: 1px solid $color__global-tertiary-1;
    }
  }

  @include media-query__medium {
    &__cover,
    &__content {
      padding: $hero-padding-large-content;
    }
  }

  .button-favourite {
    display: inline-flex;
  }

  &__content {
    & > h1 {
      margin-top: $s-sm;
    }
  }

  // spacing for availability-label
  &__availability-label {
    margin-top: 38px;
    margin-bottom: 56px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  // Spacing between buttons
  &__button > * + * {
    margin-top: $s-sm;
  }

  // set all buttons to the full width
  &__button > * {
    width: 100%;
    @include media-query__medium {
      width: 346px;
      max-width: 346px;
    }
  }
}
