.material-header {
  border-bottom: 1px solid $c-global-tertiary-1;
  padding-bottom: 56px;
  @include breakpoint-m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }

  .button-favourite {
    display: inline-flex;
  }

  &__cover {
    padding-top: 65px;
    padding-bottom: 38px;
    display: grid;
    place-content: center;

    @include breakpoint-m {
      padding: 0;
    }

    & .cover-container {
      & > span.cover {
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__content {
    padding: 16px;

    @include breakpoint-m {
      padding: $s-4xl $s-2xl $s-4xl $s-7xl;
      grid-column: 1/2;
      grid-row: 1/2;
      border-right: 1px solid $c-global-tertiary-1;
    }

    & > h1 {
      margin-top: $s-sm;
    }
  }

  // spaceing for availability-label
  &__availability-label {
    margin-top: 38px;
    margin-bottom: 48px;
    margin-bottom: 56px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  // Spacing between buttons
  &__button > * + * {
    margin-top: 8px;
  }

  // set all buttons to the full width
  &__button button {
    width: 100%;
    @include breakpoint-m {
      width: 346px;
      max-width: 346px;
    }
  }
}
