.list-materials {
  display: flex;
  min-height: 72px;
  padding: 16px;
  background-color: $c-global-secondary;
  justify-content: space-between;

  @include breakpoint-s {
    height: 96px;
    padding: 16px 32px;
    align-items: center;
    flex-direction: row;
  }
}

.list-materials__checkbox {
  display: flex;
  align-items: center;
}

.list-materials__content {
  flex: 1;
}

.list-materials__selected {
  background-color: $c-text-primary-white;
}

.list-materials__status {
  display: none;

  @include breakpoint-s {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    align-items: center;
    grid-gap: 16px;
  }

  .text-small-caption {
    color: $c-text-secondary-gray;
  }
}

.list-materials__content-status {
  display: inline-flex;
  gap: 8;

  @include breakpoint-s {
    display: flex;
    flex-direction: row;
  }
}

.list-materials__content-status-label {
  @include breakpoint-s {
    display: none;
  }
}
