// *** Global colors ***
// Background
.bg-global-primary {
  background-color: $c-global-primary;
}

.bg-global-secondary {
  background-color: $c-global-secondary;
}

.bg-global-tertiary-1 {
  background-color: $c-global-tertiary-1;
}

.bg-global-tertiary-2 {
  background-color: $c-global-tertiary-2;
}

// Border
.border-global-primary {
  border: 1px solid $c-global-primary;
  stroke: $c-global-primary;
}

.border-global-secondary {
  border: 1px solid $c-global-secondary;
  stroke: $c-global-secondary;
}

.border-global-tertiary-1 {
  border: 1px solid $c-global-tertiary-1;
  stroke: $c-global-tertiary-1;
}

.border-global-tertiary-2 {
  border: 1px solid $c-global-tertiary-2;
  stroke: $c-global-tertiary-2;
}

// *** Identity colors ***
// Background
.bg-identity-primary {
  background-color: $c-identity-primary;
  fill: $c-identity-primary;
}

// Border
.border-identity-primary {
  border: 1px solid $c-identity-primary;
  stroke: $c-identity-primary;
}

// Color
.color-identity-primary {
  color: $c-identity-primary;
}

.color-secondary-gray {
  color: $c-text-secondary-gray;
}

// *** Identity color tints ***
// Background
.bg-identity-tint-20 {
  background-color: var(--tint-color-20);
}

.bg-identity-tint-40 {
  background-color: var(--tint-color-40);
}

.bg-identity-tint-60 {
  background-color: var(--tint-color-60);
}

.bg-identity-tint-80 {
  background-color: var(--tint-color-80);
}

.bg-identity-tint-120 {
  background-color: var(--tint-color-120);
}

// *** Text colors ***
// Color
.color-primary-white {
  color: $c-text-primary-white;
}

.color-primary-black {
  color: $c-text-primary-black;
}

.border-primary-white {
  border: 1px solid $c-text-primary-white;
  stroke: $c-text-primary-white;
}

.border-primary-black {
  border: 1px solid $c-text-primary-black;
  stroke: $c-text-primary-black;
}

.border-secondary-gray {
  border: 1px solid $c-text-secondary-gray;
  stroke: $c-text-secondary-gray;
}

// Only used internally for bg-color in Colors comp.
.bg-color-primary-white {
  background-color: $c-text-primary-white;
}

.bg-color-primary-black {
  background-color: $c-text-primary-black;
}

.bg-color-secondary-gray {
  background-color: $c-text-secondary-gray;
}

// *** Signal colors ***
// Background
.bg-signal-success {
  background-color: $c-signal-success;
}

.bg-signal-aware {
  background-color: $c-signal-aware;
}

.bg-signal-alert {
  background-color: $c-signal-alert;
}

// Border
.border-signal-success {
  border: 1px solid $c-signal-success;
  stroke: $c-signal-success;
}

.border-signal-aware {
  border: 1px solid $c-signal-aware;
  stroke: $c-signal-aware;
}

.border-signal-alert {
  border: 1px solid $c-signal-alert;
  stroke: $c-signal-alert;
}

// Color
.color-signal-success {
  color: $c-signal-success;
}

.color-signal-aware {
  color: $c-signal-aware;
}

.color-signal-alert {
  color: $c-signal-alert;
}
