// Global colors
$c-global-primary: #f6f5f0;
$c-global-secondary: #eee9e5;
$c-global-tertiary-1: #dbdbdb;
$c-global-tertiary-2: #707070;
$c-identity-primary: hsl(
  var(--identity-color-h)
  var(--identity-color-s)
  var(--identity-color-l) /
  100%
);

$c-text-primary-white: #fff;
$c-text-primary-black: #000;
$c-text-secondary-gray: #484848;

$c-signal-success: #068802;
$c-signal-aware: #f7bf42;
$c-signal-alert: #d5364a;

// *** CSS variables for identity color tints ***
:root {
  // Identity color tones
  --identity-color-h: 145;
  --identity-color-s: 22%;
  --identity-color-l: 35%;
  --identity-color: var(--identity-color-h), var(--identity-color-s),
    var(--identity-color-l);
  --tint-color-20: hsl(var(--identity-color) 0.2);
  --tint-color-40: hsl(var(--identity-color) 0.4);
  --tint-color-60: hsl(var(--identity-color) 0.6);
  --tint-color-80: hsl(var(--identity-color) 0.8);
  --tint-color-120: hsl(
    var(--identity-color-h)
    calc(var(--identity-color-s) - 1%)
    calc(var(--identity-color-l) - 8%)
  );

  // Global colors
  --c-global-primary: #f6f5f0;
  --c-global-secondary: #eee9e5;
  --c-global-tertiary-1: #dbdbdb;
  --c-global-tertiary-2: #949494;
  --c-text-primary-white: #fff;
  --c-text-primary-black: #000;
  --c-text-secondary-gray: #484848;
  --c-signal-success: #068802;
  --c-signal-aware: #f7bf42;
  --c-signal-alert: #d5364a;
}