.dpl-form {
  .dpl-input {
    &:has(textarea) {
      max-width: $block-max-width__medium;
    }

    textarea {
      @include typography($typo__body-placeholder);
      border: solid 1px $color__global-tertiary-1;
      width: 100%;
      padding: $s-md;
      resize: none;
      background-color: $color__global-primary;

      @extend %default-focus-visible;
    }
  }
}
