$list-reservation-space-mobile: 16px;
$list-reservation-space-desktop: 24px;

.list-reservation-container {
  position: relative;
}

.list-reservation {
  background-color: $c-text-primary-white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  position: relative;
  padding: $list-reservation-space-mobile;

  @include breakpoint-s {
    grid-template-columns: 1fr 1fr;
    height: 184px;
    padding: $list-reservation-space-desktop;
  }
}

.list-reservation__material {
  display: flex;
  align-items: center;
}

.list-reservation__note-mobile {
  display: block;
  margin-top: 4px;
  white-space: break-spaces;
  font-size: 12px;

  @include breakpoint-s {
    display: none;
  }
}

.list-reservation__note-desktop {
  display: none;

  @include breakpoint-s {
    display: block;
  }
}

.list-reservation__information {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: $list-reservation-space-mobile;

  @include breakpoint-s {
    margin-left: $list-reservation-space-desktop;
    justify-content: space-between;
  }
}

.list-reservation__about {
  margin: 16px 0;

  p {
    margin-top: 2px;
  }

  @include breakpoint-s {
    margin-top: 0;
  }
}

.list-reservation__status {
  display: grid;
  align-items: flex-end;
  grid-template-columns: auto 1fr auto;

  @include breakpoint-s {
    align-items: center;
  }
}

.list-reservation__counter {
  display: none;

  @include breakpoint-s {
    width: 92px;
    display: block;
  }
}

.list-reservation__deadline {
  display: inline-grid;
  grid-row-gap: 8px;
  margin-left: 88px;

  @include breakpoint-s {
    margin-left: 32px;
  }
}

.list-reservation__fee {
  > p {
    text-align: end;
    white-space: nowrap;
  }
}

%list-stacked {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $c-text-primary-white;
  perspective: 500px;
  box-shadow: 0 4px 20px rgb(72 72 72 / 10%);
}

.list-reservation--stacked {
  &::after {
    @extend %list-stacked;

    content: " ";
    transform: translateY(8px) scale(0.95);
    z-index: -1;
  }

  &::before {
    @extend %list-stacked;

    content: " ";
    transform: translateY(16px) scale(0.9);
    z-index: -2;
  }
}
