.left-aligned-page {
  background: $color__global-primary;
  padding: $s-md;
  position: relative;
  z-index: 0;
  @include typography($typo__body-placeholder);

  @include media-query__medium {
    padding: $s-6xl;
  }

  &__title {
    @include typography($typo__h1);
    padding: $s-xl 0;
  }

  &__body {
    @include typography($typo__body-large);
    max-width: 1000px;
    margin-bottom: $s-xl;
  }

  &__switch-languages {
    display: flex;
    flex-direction: row;
    gap: $s-md;
    margin-bottom: $s-2xl;
  }

  &__switch-language {
    margin-right: $s-md;
  }

  &__quick-links {
    @include typography($typo__body-medium);
    display: inline-block;
  }

  &__quick-link {
    @include typography($typo__links);
    display: inline-block;
    margin-left: $s-md;
    color: $color__global-grey;
    &::after {
      color: $color__global-grey;
    }
  }

  &__subsection {
    margin-top: $s-6xl;
    max-width: 900px;
  }

  &__headline {
    @include typography($typo__h2);
  }

  &__subsection-body {
    @include typography($typo__body-placeholder);
    margin: $s-xl 0;
  }
}
