$_banner-content-wrapper-width: 944px;
$_banner-content-max-width-small: 300px;
$_banner-content-max-width-medium: 569px;
$_banner-content-no-image-max-width-small: $layout__max-width--small;
$_banner-height-small: 500px;
$_banner-height-medium: 810px;

.banner {
  @include layout-container($layout__max-width--large, 0);

  display: grid;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  background-color: $color__global-secondary;
  height: $_banner-height-small;

  @include media-query__small {
    height: $_banner-height-medium;
  }
}

.banner__media-wrapper {
  grid-row: 1;
  grid-column: 1;
  height: $_banner-height-small;
  @include media-query__small {
    height: $_banner-height-medium;
  }
}

.banner__content-wrapper {
  @include layout-container($_banner-content-wrapper-width, 0);
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  padding: $s-2xl $s-2xl $s-2xl 0;
  @include media-query__small {
    padding-right: unset;
  }
  &--no-image {
    padding: unset;
  }
}

.banner__content {
  padding: $s-xl;
  max-width: $_banner-content-max-width-small;
  background-color: $color__global-white;
  display: flex;
  flex-direction: column;
  gap: $s-md;

  &--no-image {
    max-width: $_banner-content-max-width-small;
    margin: 0 auto;
    background-color: unset;
    text-align: center;
    align-items: center;
  }
  @include media-query__small {
    gap: $s-lg;
    padding: calc($s-2xl + 6px);
    max-width: $_banner-content-max-width-medium;
  }
}

.banner__title {
  @include typography($typo__h2);
  @include u-extending-underline-style;
}

.banner__description {
  @include typography($typo__body-placeholder);
  line-height: 160%;
  color: $color__global-grey;
}
