// Since we are using the Skeleton Screen Css classes connected to the existing styling
// we deliberately not follow the BEM naming convention here.
/* stylelint-disable plugin/stylelint-bem-namics */

.search-result-item {
  &.ssc {
    grid-template-columns: min-content 1fr;
  }
  .ssc-square {
    @extend %mr-16;
    width: 100px;
    height: 140px;
  }
  .ssc-head-line {
    @extend %mt-16;
  }
}
/* stylelint-enable plugin/stylelint-bem-namics */
