.search-result-item {
  background-color: #fff;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 22px 16px;
  cursor: pointer;
  text-decoration: none;

  @include breakpoint-s {
    height: 184px;
    gap: 0;
    padding: 24px;
    grid-template-columns: min-content minmax(min-content, 407px) 1fr max-content;
  }

  &:hover {
    filter: drop-shadow(0 4px 20px rgb(72 72 72 / 10%));
  }

  // Hide arrow
  > svg {
    width: 35px;
    visibility: hidden;
    opacity: 0;
    margin-right: 20px;
  }
  // Show arrow on hover
  &:hover svg {
    @include breakpoint-s {
      visibility: visible;
      opacity: 1;
      align-self: center;
      justify-self: end;
    }
  }
}

.search-result-item__cover {
  grid-row: span 2;

  @include breakpoint-s {
    grid-row: auto;
    margin-right: 24px;
  }
}

.search-result-item__availability {
  grid-column: 2;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 6px;

  @include breakpoint-s {
    grid-column: 3;
    margin-left: 90px;
  }
}

.search-result-item__meta {
  display: flex;
  gap: 10px;
}

.search-result-item__title {
  margin-top: 10px;

  @include breakpoint-s {
    margin-top: 16px;
  }
}
