.dialog {
  position: relative;
  border-radius: 4px;
  padding: $s-lg;
}

.dialog__top-bar {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.dialog__close-button {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;

  img {
    height: 16px;
    width: 16px;
  }
}

.dialog--sidebar {
  // Reset dialog
  max-height: unset;
  max-width: unset;
  border: 0;
  border-radius: 0;
  // Apply custom
  background-color: $color__global-primary;
  position: fixed;
  height: 100dvh;
  top: 0;
  width: 100%;
  left: auto;
  transition:
    transform 0.5s ease-out allow-discrete,
    display 0.5s 0.5s ease-out allow-discrete,
    overlay 0.3s ease-out allow-discrete;
  transform: translateX(100vw);

  @include media-query__small {
    width: 435px;
  }
}

.dialog--sidebar[open] {
  transform: translateX(0vw);
}

@starting-style {
  .dialog--sidebar[open] {
    transform: translateX(100vw);
  }
}

.dialog--sidebar::backdrop {
  background-color: transparent;
  transition: background-color 0.3s;
}

.dialog--sidebar[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

@starting-style {
  .dialog--sidebar[open]::backdrop {
    background-color: transparent;
  }
}

// This sets the correct sidebar width for accurate visual regression testing.
.storybook-dialog-sidebar {
  @include media-query__small {
    width: 435px;
  }
}
