.pagefold-inherit-parent {
  opacity: 0.2;
  background-color: #000;
}

$pagefold-map: (
  "none": 0,
  "xsmall": 14,
  "small": 16,
  "medium": 24,
  "large": 38,
  "xlarge": 56,
);

@each $size, $triangle-width in $pagefold-map {
  .m-#{$size} {
    margin: #{$size}px;
  }

  %pagefold-parent--#{$size},
  .pagefold-parent--#{$size} {
    min-width: #{$triangle-width}px;
    min-height: #{$triangle-width}px;
    position: relative;
    display: inherit;
    clip-path: polygon(
      #{$triangle-width}px 0,
      0 #{$triangle-width}px,
      0 100%,
      100% 100%,
      100% 0
    );
    -webkit-clip-path: polygon(
      #{$triangle-width}px 0,
      0 #{$triangle-width}px,
      0 100%,
      100% 100%,
      100% 0
    );
  }

  %pagefold-triangle--#{$size},
  .pagefold-triangle--#{$size} {
    width: #{$triangle-width}px;
    height: #{$triangle-width}px;
    background-color: $c-identity-primary;
    position: absolute;
    top: 0;
    left: 0;

    &--success {
      background-color: $c-signal-success;
    }

    &--alert {
      background-color: $c-signal-alert;
    }
  }
}
