.disclosure {
  width: auto;
  border: solid 1px $c-global-tertiary-1;

  @include breakpoint-m {
    margin: 0 133px;
  }

  &__headline {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: $s-md;

    @include breakpoint-m {
      padding-left: $s-xl;
    }

    &__text {
      width: 201px;
      text-overflow: ellipsis;
      max-height: 84px;
      overflow-y: hidden;

      @include breakpoint-m {
        width: 685px;
      }

      &-shorter {
        width: 197px;
        text-overflow: ellipsis;
        max-height: 84px;
        overflow-y: hidden;

        @include breakpoint-m {
          width: 404px;
        }
      }
    }
  }

  &__icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: $s-md;

    @include breakpoint-m {
      margin-left: -8px;
      margin-right: $s-lg;
    }

    & > img {
      width: $s-lg;
    }
  }
  & .availability-label {
    margin-left: $s-lg;
  }

  &__expand {
    margin-left: auto;
    margin-right: $s-md;

    @include breakpoint-m {
      margin-right: $s-lg;
    }

    &-open {
      transform: scaleY(-1);
    }
  }
}
