.disclosure {
  width: auto;
  border: solid 1px $c-global-tertiary-1;
  border-top: none;

  &:first-of-type {
    border-top: solid 1px $c-global-tertiary-1;
  }

  @include breakpoint-s {
    margin: 0 133px;
  }

  &.disclosure--full-width {
    width: 100%;
    margin: 0;

    @include breakpoint-s {
      margin: 0;
    }
  }

  &__headline {
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: $s-md;

    @include breakpoint-s {
      padding-left: $s-xl;
    }

    &.disclosure__headline--no-padding {
      padding-left: $s-xl;
      @include breakpoint-s {
        padding-left: $s-2xl;
      }
    }
  }

  &__text {
    width: 201px;
    text-overflow: ellipsis;
    max-height: 84px;
    overflow-y: hidden;

    @include breakpoint-s {
      width: 685px;
    }

    &--shorter {
      width: 197px;

      @include breakpoint-s {
        width: 404px;
      }
    }
  }

  &__icon {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: $s-md;

    @include breakpoint-s {
      margin-left: -#{$s-sm};
      margin-right: $s-lg;
    }

    & > img {
      width: $s-lg;
    }
  }

  &__expand {
    margin-left: auto;
    margin-right: $s-md;

    @include breakpoint-s {
      margin-right: $s-xl;
    }

    &-open {
      transform: scaleY(-1);
    }
  }
}
