.find-on-shelf {
  background-color: $color__global-secondary;

  &__header-row {
    display: none;

    @include media-query__small {
      display: flex;
      height: $s-xl;
      align-items: center;
      padding: 0 $s-md 0 $s-xl;
    }
  }

  &__material-header {
    width: 404px;
  }

  &__location-header {
    white-space: nowrap;
    padding-right: $s-lg;
  }

  &__item-count-header {
    @include media-query__small {
      margin-left: auto;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    border-top: solid 1px $color__global-primary;
    padding: $s-lg $s-md;
    gap: $s-md;

    @include media-query__small {
      padding: 0 $s-xl 0 $s-xl;
      flex-direction: row;
      min-height: 110px;
      align-items: center;
      gap: 0;
    }
  }

  &__material-text {
    max-width: 600px;

    @include media-query__small {
      width: 404px;
    }
  }

  &__item-count-text {
    @include media-query__small {
      margin-left: auto;
      overflow-y: visible;
    }
  }
}
