.find-on-shelf {
  background-color: $c-global-secondary;

  &__header-row {
    display: none;

    @include breakpoint-s {
      border-bottom: solid 1px $c-global-primary;
      display: flex;
      height: $s-xl;
      align-items: center;
      padding-left: $s-xl;
      margin-right: $s-md;
    }
  }

  &__material-title {
    width: 404px;
  }

  &__item-count-title {
    justify-self: flex-end;
    margin-left: auto;
  }

  &__row {
    min-width: $s-6xl;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $c-global-primary;

    @include breakpoint-s {
      flex-direction: row;
      min-height: 110px;
      align-items: center;
      justify-content: flex-start;
    }

    &:last-of-type {
      border-bottom: none;
    }

    & > span {
      margin: $s-md $s-md 0 $s-md;

      &:first-of-type {
        margin-top: $s-lg;
      }

      &:last-of-type {
        margin-bottom: $s-lg;
      }

      @include breakpoint-s {
        margin: 0;
        max-width: 600px;
        text-overflow: ellipsis;
        overflow-y: hidden;

        &:first-of-type {
          margin-left: $s-xl;
          margin-top: inherit;
        }

        &:last-of-type {
          margin-bottom: inherit;
          margin-left: auto;
          margin-right: $s-xl;
          overflow-y: visible;
        }
      }

      & .hide-on-desktop {
        @include breakpoint-s {
          display: none;
        }
      }
    }
  }
}
