.dpl-patron-info {
  @extend %color-secondary-gray;
  @extend %bg-global-secondary;
  @extend %pb-32;

  &__label {
    @extend %text-body-medium-medium;
    @extend %ml-32;
    @extend %pt-32;
  }
  &__text {
    @extend %text-body-medium-regular-placeholder;
    @extend %ml-32;
  }
}

.patron-buttons {
  display: flex;
  @extend %mt-32;
}

.contact-info-flex {
  display: flex;
  flex-direction: column;

  @include breakpoint-s {
    flex-direction: row;
  }
}

.patron__input {
  display: flex;
  flex-direction: column;
  @extend %text-body-medium-medium;

  label {
    @extend %text-body-medium-medium;
    color: $c-text-secondary-gray;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $c-global-tertiary-1;
    height: 40px;

    &:focus {
      border-bottom-color: $c-text-primary-black;
      outline: none;
    }
  }

  &__description {
    color: $c-text-secondary-gray;
    @extend %text-body-small-regular;
    @extend %mt-8;
  }

  &__validation {
    color: $c-signal-alert;
    @extend %text-body-small-regular;
    @extend %mt-8;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.patron__input--desktop {
  width: 100%;

  @include breakpoint-m {
    width: 50%;
  }
}
