.link-tag {
  text-decoration: none;
  color: $c-text-primary-black;
  display: inline-block;
  width: fit-content;

  @extend %text-body-medium-regular-placeholder;
}

.link-tag::after {
  display: block;
  content: "";
  border-bottom: solid 1px;
  transform: scaleX(1);
  transition: transform 300ms ease-in-out;
  transform-origin: 100% 50%;
  padding-bottom: 2px;
}

.link-tag:hover::after {
  transform: scaleX(0);
  transform-origin: 100% 0%;
}

.button-link--selected {
  @extend .link-tag;
}

.button-link {
  // 3px corresponding to the height of the "after"-line, so the two are inline
  margin-bottom: 3px;
  text-decoration: none;
  color: $c-text-primary-black;
  display: inline-block;
  width: fit-content;

  @extend %text-body-medium-regular-placeholder;
}
.button-link--bright {
  color: $c-text-primary-white;
}
