.logo-fallback-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-align: left;

  &--name {
    font-weight: 700;
  }

  &--libraries {
    font-weight: 300;
  }

  @include breakpoint-m {
    font-size: 24px;
    line-height: 27px;
  }
}
