.logo-fallback {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  text-align: left;

  @include breakpoint-m {
    font-size: 24px;
    line-height: 27px;
  }
}

.logo-fallback__text-name {
  font-weight: 700;
}

.logo-fallback__text-libraries {
  font-weight: 300;
}
