.warning-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: $s-md $s-xl;

  @include media-query__small {
    flex-direction: row;
    padding: $s-md;
  }

  &__icon {
    margin-right: $s-md;
    min-width: 40px;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: $s-md;

    @include media-query__small {
      margin-bottom: 0;
      width: auto;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include media-query__small {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: auto;
    }
  }

  &__owes {
    margin-right: $s-sm;
    margin-bottom: $s-sm;

    @include media-query__small {
      margin-right: $s-lg;
      margin-bottom: 0;
    }
  }
}
