.modal-pause {
  flex-direction: column;
  align-items: center;

  &__subtitle {
    margin-top: $s-xl;
    color: $color__text-secondary-gray;
  }

  &__date-range {
    margin-top: $s-lg;
  }

  &__text-link {
    color: $color__text-secondary-gray;
    margin-bottom: $s-xs;
  }
}

.modal-pause__container {
  margin: 0 $s-lg;
  padding-top: 96px;
  max-width: 550px;

  @include media-query__small {
    margin: 0 45px;
  }
}

.modal-pause__button {
  display: grid;
  justify-content: center;
}
