$modal-pause-container-width: 550px;

.modal-pause {
  flex-direction: column;
  align-items: center;
}

.modal-pause__container {
  margin: 0 24px;
  padding-top: 96px;
  max-width: $modal-pause-container-width;
  width: 100%;

  @include breakpoint-s {
    margin: 0 45px;
  }
}

.modal-pause__button {
  display: grid;
  justify-content: center;
}

.modal-pause__text-link {
  .link-tag {
    font-size: 14px;
    padding-left: 5px;
  }
}

.datepickers {
  margin-bottom: 80px;

  @include breakpoint-s {
    display: flex;
    justify-content: space-between;
  }

  input {
    border: 1px solid $c-global-tertiary-1;
    box-sizing: border-box;
    background-color: $c-global-primary;
    min-width: 230px;
    height: 50px;
    padding: 0 10px;
    color: $c-text-secondary-gray;
    @extend %text-button-placeholder;

    @include breakpoint-s {
      min-width: 250px;
      padding: 0 20px;
    }
  }

  .datepicker {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;

    @include breakpoint-s {
      margin-bottom: 0;
    }
  }

  [type="date"] {
    background: $c-global-primary
      url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png")
      90% 50% no-repeat;
  }

  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 19px;
  }
}
