.content-list {
  @include layout-container($block-max-width__large);
  margin-top: $s-xl;
  margin-bottom: $s-xl;
}

.content-list__item {
  list-style: none;
  margin-bottom: $s-md;
}

.content-list__item--stacked {
  margin-top: -$s-md;
}

// Modifier to remove top margin (e.g., when used in grid layouts)
.content-list--no-top-margin {
  margin-top: 0;
}
