.reservation-modal {
  background-color: $c-global-primary;
  width: 100%;
}

.reservation-modal--confirm {
  display: grid;
  place-content: center;
}

.reservation-modal__confirm-button {
  width: 193px;
  margin: 0 auto;
}

.reservation-modal-header {
  display: flex;
  flex-direction: column;
  margin-bottom: $s-md;
  @include breakpoint-s {
    flex-direction: row;
  }
}

.reservation-modal-description {
  margin-top: $s-lg;
  @include breakpoint-s {
    margin-left: 42px;
  }
}

.reservation-modal-tag {
  @extend %text-tags;
  @extend %px-16;
  @extend %py-4;
  border: 1px solid $c-global-tertiary-1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.reservation-modal-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $s-md;
  @extend %mb-24;

  @include breakpoint-s {
    justify-content: end;
    flex-direction: row;
  }
}

.reservation-modal-list {
  display: grid;
  gap: $s-sm;
}

.reservation-modal-list-item {
  background-color: white;
  display: flex;
  align-items: center;
  min-height: 96px;
  gap: 35px;
  @extend %px-35;
}

.reservation-modal-list-item-text {
  // Remove spacing between elements in reservation-list-item
  flex: 1;
  & > * {
    margin: 0;
  }
}

.reservation-form {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    @include breakpoint-m {
      width: 45%;
    }
  }
  &__footer {
    display: flex;
    justify-content: center;
  }
}
