.link-filters-container {
  display: flex;
  grid-column-gap: 24px;
  grid-column-row: 12px;
}

.link-filters-tag-wrapper {
}
.link-filters-tag-wrapper:last-child {
  padding-right: 0;
  padding-bottom: 0;
}

.link-filters-tag {
  @extend %text-body-medium-regular-placeholder;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 0px;

  &--active {
    border-bottom: 0;
  }
}

.link-filters-tag::after {
  padding-bottom: calc(18px - 14px);
}

.link-filters-counter {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: -8px;
  padding-left: 8px;
  @extend %text-body-medium-regular-placeholder;
}

.link-filters-tag:active {
  border-bottom: 0;
}
