.footer {
  .footer__mobile {
    display: block;
  }

  .footer__desktop {
    display: none;
  }

  @include breakpoint-s {
    .footer__mobile {
      display: none;
    }

    .footer__desktop {
      display: block;

      // Grid / columns
      .footer__column-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        grid-gap: 82px;
      }

      .footer__column {
        width: 263px;
        height: auto;
      }
    }
  }

  // Pagefold tweaks
  .pagefold-parent--small,
  .pagefold-parent--medium {
    width: 100vw;
    height: auto;
  }

  .internal-pagefold-parent {
    background-color: $c-global-secondary;

    @include breakpoint-m {
      padding: 56px 100px 24px;
    }
  }
}

// Widgets
.footer__widgets {
  display: flex;
  justify-content: space-between;
}

// Dropdown tweaks
.footer .dropdown {
  width: 82px;

  .dropdown__select {
    background-color: $c-global-secondary;
    height: 32px;
    padding: 0 12px;
    min-width: 82px;
  }

  .dropdown__arrows {
    height: 32px;
    width: 32px;
  }
}

// Site info
.footer__desktop .footer__site-info {
  display: flex;
  justify-content: space-between;
}

.footer__site-info-links {
  display: flex;

  li {
    padding-bottom: 16px;
  }

  @include breakpoint-s {
    li {
      padding-bottom: 0;
    }

    a {
      padding-right: 24px;
    }

    a:last-child {
      padding-right: 0;
    }
  }
}

.footer__site-info-icons {
  display: flex;

  a {
    padding-right: 24px;
  }
}

// Separator
.footer__separator {
  border-bottom: 1px solid $c-global-tertiary-1;
  margin: #{$s-24}px 0;
}

// Separator mobile tweaks
.footer__mobile .footer__separator {
  margin: #{$s-24}px -50px;
}

// Link tweaks
.footer__column-link {
  margin-top: #{$s-16}px;
}

.footer__site-info-link {
  text-decoration: none;
  @extend %text-links-placeholder;
}

.footer__column-phone {
  color: $c-text-primary-black;
  text-decoration: none;
}

// Accordion mobile tweaks
.footer__mobile .accordion {
  margin: 0 -50px;
}
