.footer {
  @include block-spacing();

  .footer__mobile {
    display: block;
  }

  .footer__desktop {
    display: none;
  }

  @include media-query__small {
    .footer__mobile {
      display: none;
    }

    .footer__desktop {
      display: block;
    }
  }

  // Pagefold tweaks
  .pagefold-parent--small,
  .pagefold-parent--medium {
    width: 100%;
    height: auto;
  }

  .internal-pagefold-parent {
    background-color: $color__global-secondary;

    @include media-query__medium {
      padding: 56px $s-5xl $s-lg;
    }
  }
}

.footer-title {
  @include typography($typo__h4);
  @include media-query__small {
    margin-bottom: $s-md;
  }
}

.footer-content {
  @include typography($typo__body-placeholder);

  a {
    display: block;
    text-decoration: none;
  }

  p {
    margin-bottom: $s-md;
  }

  &[hidden] {
    display: none;
  }

  @include media-query__small {
    a {
      @include link-tag;
      display: block;
    }
  }
}
