.footer {
  .footer__mobile {
    display: block;
  }

  .footer__desktop {
    display: none;
  }

  @include media-query__small {
    .footer__mobile {
      display: none;
    }

    .footer__desktop {
      display: block;

      // Grid / columns
      .footer__column-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        grid-gap: 82px;
      }

      .footer__column {
        width: 263px;
        height: auto;
      }
    }
  }

  // Pagefold tweaks
  .pagefold-parent--small,
  .pagefold-parent--medium {
    width: 100vw;
    height: auto;
  }

  .internal-pagefold-parent {
    background-color: $color__global-secondary;

    @include media-query__medium {
      padding: 56px $s-5xl $s-lg;
    }
  }
}

// Widgets
.footer__widgets {
  display: flex;
  justify-content: space-between;
}

// Dropdown tweaks
.footer .dropdown {
  width: 82px;

  .dropdown__select {
    background-color: $color__global-secondary;
    height: $s-xl;
    padding: 0 12px;
    min-width: 82px;
  }

  .dropdown__arrows {
    height: $s-xl;
    width: $s-xl;
  }
}

// Site info
.footer__desktop .footer__site-info {
  display: flex;
  justify-content: space-between;
}

.footer__site-info-links {
  display: flex;

  li {
    padding-bottom: $s-md;
  }

  @include media-query__small {
    li {
      padding-bottom: 0;
    }

    a {
      padding-right: $s-lg;
    }

    a:last-child {
      padding-right: 0;
    }
  }
}

.footer__site-info-icons {
  display: flex;

  a {
    padding-right: $s-lg;
  }
}

// Separator
.footer__separator {
  border-bottom: 1px solid $color__global-tertiary-1;
  margin: $s-lg 0;
}

// Separator mobile tweaks
.footer__mobile .footer__separator {
  margin: $s-lg (-50px);
}

// Link tweaks
.footer__column-link {
  margin-top: $s-md;
}

.footer__site-info-link {
  text-decoration: none;
  @include typography($typo__links);
}

.footer__column-phone {
  color: $color__text-primary-black;
  text-decoration: none;
}

// Accordion mobile tweaks
.footer__mobile .accordion {
  margin: 0 -50px;
}
