.image-credited__img {
  width: 100%;
}

.image-credited__info {
  @include typography($typo__small-caption);
  margin-top: $s-md;
  display: flex;
  justify-content: space-between;
}

.image-credited__no-image {
  aspect-ratio: 16 / 9;
  @extend %identity-placeholder;
}
