.image-credited__image {
  width: 100%;

  * {
    width: 100%;
  }
}

.image-credited__info {
  @include typography($typo__small-caption);

  color: $color__text-inactive;
  margin-top: $s-sm;
  display: flex;
  justify-content: space-between;
}

.image-credited__no-image {
  aspect-ratio: 4/3;
  @extend %identity-placeholder;
}
