// Since we are using the Skeleton Screen Css classes connected to the existing styling
// we deliberately not follow the BEM naming convention here.
.fee-list-page {
  .ssc-square {
    &.cover--size-small {
      height: 104px;
      width: 70px;

      @include media-query__small {
        height: 137px;
        width: 95px;
      }
    }
  }

  .list-reservation__deadline {
    .ssc-head-line {
      min-width: 100px;
    }
  }
}
