.facet-browser {
  width: 100%;
}

.facet-browser-header {
  min-height: 120px;
  padding: 32px;
  padding-bottom: 28px;
  @include breakpoint-s {
    min-height: 144px;
    padding: 48px;
    padding-bottom: 28px;
  }
}

.facet-browser-facets {
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  @include breakpoint-s {
    padding: 18px;
  }
}

.facet-browser-clear-btn {
  @extend %link-tag;
  padding: 0;
  padding-top: 12px;
  cursor: pointer;
}

.facet-browser-more-btn {
  @extend %link-tag;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  padding-bottom: 28px;
  padding-right: 16px;
  cursor: pointer;

  @include breakpoint-s {
    padding-right: 42px;
  }
}

.facet-browser-results-btn {
  margin: 50px auto 10px;
}
