.autosuggest {
  &__material-item {
    width: 100%;
    padding: $s-sm $s-md;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint-m {
      width: calc(100% / 3);
      // Because the main autosuggest is a prominent feature we don't want the hover
      // effect to take effect on phones, as iPhones have a known bug that requires
      // users to double click in order to get past hover to register a click.
      &:hover {
        background-color: $c-global-secondary;
        cursor: pointer;
      }
    }

    &--highlight {
      background-color: $c-global-secondary;
    }
  }

  // Autosuggest dividers on phones:
  // - between text suggestions & material suggestions
  &__text-item + &__material-item {
    border-top: 1px solid $c-global-tertiary-1;
    margin-top: $s-md;
    padding-top: $s-lg;

    @include breakpoint-m {
      border: none;
      margin: 0;
    }
  }
  // - between material suggestions & text suggestions
  &__material-item + &__text-item {
    border-top: 1px solid $c-global-tertiary-1;
    margin-top: $s-md;
    padding-top: $s-md;

    @include breakpoint-m {
      border: none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  // Autosuggest dividers on desktop:
  // - both dividers are rendered if both types of suggestions are present
  &__text-item ~ &__material-item {
    @include breakpoint-m {
      border-top: 1px solid $c-global-tertiary-1;
      border-bottom: 1px solid $c-global-tertiary-1;
      margin: $s-lg 0;
      padding-top: $s-lg;
      padding-bottom: $s-lg;
    }
  }

  &__material-card {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    width: 95%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__title {
    color: $c-text-secondary-gray;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author {
    color: $c-text-primary-black;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
