.autosuggest {
  &__divider {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $c-global-tertiary-1;
    margin: $s-md 0;
    padding: 0;
  }

  &__material-item {
    width: 100%;
    overflow: visible;
    padding: $s-sm $s-md;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint-m {
      width: calc(100% / 3);
      // Because the main autosuggest is a prominent feature we don't want the hover
      // effect to take effect on phones, as iPhones have a known bug that requires
      // users to double click in order to get past hover to register a click.
      &:hover {
        background-color: $c-global-secondary;
        cursor: pointer;
      }
    }

    &--highlight {
      background-color: $c-global-secondary;
    }
  }

  &__material-card {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    width: 95%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__title {
    color: $c-text-secondary-gray;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__author {
    color: $c-text-primary-black;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
