.autosuggest {
  background-color: $c-global-primary;
  outline: 1px solid $c-global-tertiary-1;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1px);
  z-index: 1;

  @include breakpoint-m {
    padding-top: 16px;
  }

  &__text {
    height: 40px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $c-global-secondary;
      cursor: pointer;
    }

    &--highlight {
      background-color: $c-global-secondary;
    }
  }
}
