.autosuggest {
  background-color: $c-global-primary;
  outline: 1px solid $c-global-tertiary-1;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1px);
  z-index: 1;

  @include breakpoint-m {
    padding-top: $s-md;
  }

  &__text {
    display: flex;
    align-items: center;

    @include breakpoint-m {
      height: 40px;

      &:hover {
        background-color: $c-global-secondary;
        cursor: pointer;
      }
    }

    &--highlight {
      background-color: $c-global-secondary;
    }
  }
}
