.breadcrumb {
  .arrow__link {
    text-decoration: none;
  }

  .text-links {
    color: $color__text-secondary-gray;
    margin-bottom: -4px;
    @include typography($typo__links);
  }

  .arrow__body {
    stroke: $color__text-secondary-gray;
  }

  .arrow__head {
    fill: $color__global-grey;
  }
}
