.breadcrumb {
  .arrow__link {
    text-decoration: none;
  }

  .text-links {
    color: $c-text-secondary-gray;
    margin-bottom: -4px;
    @extend %text-links-placeholder;
  }

  .arrow__body {
    stroke: $c-text-secondary-gray;
  }

  .arrow__head {
    fill: $c-text-secondary-gray;
  }
}
