@import "https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Lora&family=Noto+Sans+JP:wght@400;500&display=swap";

// styleName: Desktop/H1;
.text-header-h1 {
  font-family: Lora, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: left;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-m {
    font-size: 52px;
  }

  @include breakpoint-xl {
    font-size: 58px;
  }
}

//styleName: Desktop/H2;
.text-header-h2 {
  font-family: Lora, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: left;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-m {
    font-size: 42px;
  }

  @include breakpoint-xl {
    font-size: 44px;
  }
}

//styleName: Desktop/H3;
.text-header-h3 {
  font-family: Lora, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-m {
    font-size: 32px;
  }

  @include breakpoint-xl {
    font-size: 34px;
  }
}

//styleName: Desktop/H4;
.text-header-h4 {
  font-family: Lora, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: left;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-m {
    font-size: 24px;
  }

  @include breakpoint-xl {
    font-size: 26px;
  }
}

//styleName: Desktop/H5;
.text-header-h5 {
  font-family: Lora, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

//styleName: Desktop/Subtitle;
.text-subtitle {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: left;

  @include breakpoint-s {
    line-height: 160%;
  }

  @include breakpoint-m {
    font-size: 24px;
  }

  @include breakpoint-xl {
    font-size: 26px;
  }
}

//styleName: Desktop/Accent;
.text-accent {
  font-family: "Gochi Hand", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: left;

  @include breakpoint-xl {
    font-size: 26px;
  }
}

// styleName: Desktop/Body Copy - L
.text-body-large {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  text-align: left;

  @include breakpoint-s {
    line-height: 160%;
  }

  @include breakpoint-m {
    font-size: 18px;
  }

  @include breakpoint-xl {
    font-size: 20px;
  }
}

//styleName: Desktop/Body Copy - M - regular;
%text-body-medium-regular-placeholder,
.text-body-medium-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: left;
  color: $c-text-secondary-gray;

  @include breakpoint-s {
    line-height: 160%;
  }

  @include breakpoint-m {
    font-size: 16px;
  }

  @include breakpoint-xl {
    font-size: 18px;
  }
}

//styleName: Desktop/Body Copy - M - medium;
%text-body-medium-medium,
.text-body-medium-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-align: left;

  @include breakpoint-m {
    font-size: 16px;
  }

  @include breakpoint-xl {
    font-size: 18px;
  }
}

//styleName: Desktop/Body Copy - S - regular;
%text-body-small-regular,
.text-body-small-regular {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

//styleName: Desktop/Body Copy - S - medium;
%text-body-small-medium,
.text-body-small-medium {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

// Using the placeholder selector, recommended by this rule
// https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-extend-no-missing-placeholder/README.md
//styleName: Desktop/Button text;
%text-button-placeholder,
.text-button {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-xl {
    font-size: 16px;
    line-height: 19px;
  }
}

//styleName: Desktop/Links;
%text-links-placeholder,
.text-links {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: left;

  @include breakpoint-s {
    line-height: 150%;
  }

  @include breakpoint-xl {
    font-size: 16px;
  }
}

//styleName: Desktop/Tags;
%text-tags,
.text-tags {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;

  @include breakpoint-s {
    line-height: 120%;
  }

  @include breakpoint-xl {
    font-size: 14px;
  }
}

//styleName: Desktop/Small Text - Caption;
%text-small-caption,
.text-small-caption {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: left;

  @include breakpoint-s {
    line-height: 160%;
  }

  @include breakpoint-m {
    font-size: 12px;
    line-height: 120%;
  }

  @include breakpoint-xl {
    font-size: 14px;
    line-height: 130%;
  }
}

//styleName: Desktop/Label;
%text-label,
.text-label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text-label-normal {
  @extend %text-label;

  font-weight: 400;
}

.text-label-semibold {
  @extend %text-label;

  font-weight: 500;
}
