.border-bottom {
  border-bottom: 1px solid $color__global-tertiary-1;
}

.hero-grid {
  padding: $s-md;
  display: grid;
  grid-template-areas: "content" "visual";
  gap: $s-lg;

  @include media-query__small {
    padding: 0;
    grid-template-areas: "visual content";
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.hero-grid__visual {
  grid-area: visual;

  @include media-query__small {
    padding: $hero-padding-large;
    border-right: 1px solid $color__global-tertiary-1;
  }
}

.hero-grid__content {
  grid-area: content;

  @include media-query__small {
    padding: $hero-padding-large-content;
  }
}

.hero-grid__mixed-left {
  grid-area: visual;
}

.hero-grid__mixed-right {
  grid-area: content;
}

.hero-grid__mixed-left,
.hero-grid__mixed-right {
  @include media-query__small {
    padding: $hero-padding-large;
  }
}

// Material style: visual on right side
.hero-grid--material {
  grid-template-areas: "visual" "content";

  .hero-grid__content {
    padding-bottom: $s-3xl;
  }

  @include media-query__small {
    grid-template-areas: "content visual";

    .hero-grid__content {
      border-right: 1px solid $color__global-tertiary-1;
    }

    .hero-grid__visual {
      padding: unset;
      border-right: none;
    }
  }
}
