.event-header {
  @extend %hero-2-column;
}

.event-header-date {
  @include typography($typo__h4);

  display: block;
  margin-bottom: $s-md;
  @include media-query__small {
    margin-bottom: $s-sm;
  }
}

.event-header-title {
  @include typography($typo__h1);
  margin-bottom: $s-xl;

  @include media-query__small {
    margin-bottom: $s-5xl;
  }
}
