$_desktop-content-rows: 5;
$_event-list-item--image-height: 166px;
$_event-list-item--image-width: 222px;
$_event-list-item--max-width: 1126px;
$_stacked-reduce-width: 20px;

@mixin event-list-item-stacked-shadow-box {
  position: relative;
  &::before {
    content: "";
    background-color: $color__global-white;
    position: absolute;
    width: calc(100% - $_stacked-reduce-width);
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  }
}

@mixin event-list-item-grid {
  @include show-svg-on-hover();
  @include layout-container($block-max-width__large);
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr;

  @include media-query__small {
    grid-template-columns: $_event-list-item--image-width 1fr;
    gap: $s-lg;
  }
  @include media-query__medium {
    grid-template-columns:
      $_event-list-item--image-width 1fr
      max-content;
    gap: $s-2xl;
  }
}

@mixin event-list-item-content-grid {
  display: grid;
  grid-template-columns: 1fr $s-2xl 120px;
}

.event-list-item {
  @include event-list-item-grid;
  padding-top: $s-lg;
  padding-bottom: $s-lg;
  background-color: $color__global-white;
  margin: 0 auto;
  grid-template-areas:
    "image"
    "content";
  grid-template-rows: auto;
  gap: $s-md;
}

.event-list-item,
.event-list-item-stacked {
  // Extending display none, as mixin show-svg-on-hover
  // is only working up to __small breakpoint
  @include media-query__medium("max-width") {
    > svg {
      display: none;
    }
  }
}

.event-list-item__image-container {
  @extend %identity-placeholder-pseudo;
  grid-area: image;
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.event-list-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: $z-10;
}

.event-list-item__content {
  display: grid;
  grid-template-areas:
    "tag date date"
    "title title title"
    "description description description"
    "location schedule schedule";
  @include typography($typo__small-caption);
}

.event-list-item__tag {
  grid-area: tag;
  width: max-content;
  margin-bottom: $s-sm;
}
.event-list-item__pricing {
  font-weight: $font__weight--semi-bold;
}

.event-list-item__date {
  grid-area: date;
  justify-self: end;
}

.event-list-item__title {
  grid-area: title;
  @include typography($typo__h4);
  @extend %text-truncate;
}

.event-list-item__description {
  grid-area: description;
  margin-bottom: $s-lg;
  p {
    @include text-ellipsis-truncation(3);
  }
}

.event-list-item__location-wrapper {
  grid-area: location;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: $s-xs;
}

.event-list-item__location {
  @extend %link-tag;
  @include typography($typo__small-caption);
}

.event-list-item__schedule {
  grid-area: schedule;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  @include typography($typo__body-placeholder);
}

.event-list-item-stacked {
  @include event-list-item-grid;
  @include event-list-item-stacked-shadow-box;
  padding-top: $s-sm;
  padding-bottom: $s-sm;
  grid-template-areas: "contentStacked";
  align-items: center;
}

.event-list-item-stacked__content {
  @include typography($typo__small-caption);
  @include event-list-item-content-grid;
  z-index: $z-10;
  grid-area: contentStacked;
  grid-template-areas: "dateStacked . timeStacked";
}

.event-list-item-stacked__date {
  grid-area: dateStacked;
}

.event-list-item-stacked__time {
  grid-area: timeStacked;
  justify-self: end;
}

.event-list-item-stacked > svg {
  z-index: $z-10;
  grid-area: arrowStacked;
}

@include media-query__small {
  .event-list-item {
    grid-template-areas: "image content";
  }

  .event-list-item__content {
    @include event-list-item-content-grid;
    grid-area: content;
    grid-template-areas:
      "tag . schedule"
      "date . schedule"
      "title . schedule"
      "description . schedule"
      "location . schedule";
    grid-template-rows: repeat(
      $_desktop-content-rows,
      minmax(
        calc($_event-list-item--image-height / $_desktop-content-rows),
        auto
      )
    );
  }

  .event-list-item__image-container {
    grid-area: image;
    max-height: $_event-list-item--image-height;
    min-height: $_event-list-item--image-height;
  }

  .event-list-item__tag {
    margin-bottom: unset;
    grid-area: tag;
  }

  .event-list-item__date {
    justify-self: start;
    align-self: center;
  }

  .event-list-item__title {
    grid-area: title;
    line-height: 100%;
  }

  .event-list-item__description {
    margin-bottom: unset;
    grid-area: description;

    p {
      @include text-ellipsis-truncation(2);
    }
  }

  .event-list-item__schedule {
    grid-area: schedule;
    grid-row: 3 / span 3;
    justify-content: unset;
  }

  .event-list-item-stacked {
    grid-template-areas: ". contentStacked";
  }

  .event-list-item-stacked__content {
    grid-template-areas: "dateStacked . timeStacked";
  }
}

@include media-query__medium {
  .event-list-item {
    grid-template-areas: "image content arrow";
  }

  .event-list-item__schedule {
    align-items: flex-start;
  }

  .event-list-item > svg {
    grid-area: arrow;
  }

  .event-list-item-stacked {
    grid-template-areas: ". contentStacked arrowStacked";
  }

  .event-list-item-stacked__content {
    grid-template-areas: "dateStacked . timeStacked";
  }

  .event-list-item-stacked__time {
    justify-self: start;
  }

  .event-list-item-stacked > svg {
    transform: translateX(-#{calc($_stacked-reduce-width / 2)});
  }
}
