.facet-line {
  &__item {
    display: inline-block;
    @extend %mr-8;
    @extend %mt-8;

    .dropdown__select {
      @extend %text-tags;
      height: 100%;
      padding: $s-sm $s-md;
      min-width: 200px;
    }
    .dropdown__arrows {
      height: 100%;
    }
  }
}

.facet-line-selected {
  @extend %mt-16;

  &__item {
    display: inline-block;
    @extend %mr-8;
    @extend %mt-8;

    .dropdown__select {
      @extend %text-tags;
      height: 100%;
      padding: $s-sm $s-md;
      min-width: 100px;
    }
    .dropdown__arrows {
      height: 100%;
    }
  }
}
