.search-result-page {
  background: $c-global-primary;
  padding: 16px;

  @include breakpoint-m {
    padding: 157px;
  }

  &__list {
    display: grid;
    gap: 16px;
  }
}

.facet-line {
  &__item {
    display: inline-block;
    @extend %mr-8;
    @extend %mt-8;

    .dropdown__select {
      @extend %text-tags;
      height: 100%;
      padding: 8px 16px;
      min-width: 100px;
    }
    .dropdown__arrows {
      height: 100%;
    }
  }
}

.facet-line-selected {
  @extend %mt-16;

  &__item {
    display: inline-block;
    @extend %mr-8;
    @extend %mt-8;

    .dropdown__select {
      @extend %text-tags;
      height: 100%;
      padding: 8px 16px;
      min-width: 100px;
    }
    .dropdown__arrows {
      height: 100%;
    }
  }
}
