/**
 * Set styling across breakpoints, with possibility to exclude.
 *
 * Example usage of this mixin, where margin-top is excluded:
 * @include map-styling($map, (excludes: ('margin-top'));
 *
 * @param {map} $map.
 * @param {options} $options - List of options. Supports:
 *    - excludes : list - List of properties to ignore
 */
@mixin map-styling($map, $options: ()) {
  $excludes: if(
    map_has_key($options, "excludes"),
    map_get($options, "excludes"),
    ()
  );

  @each $breakpoint-name, $map-values in $map {
    $map-inner: map_get($map, $breakpoint-name);

    @include media-query__name($breakpoint-name) {
      @each $property, $value in $map-inner {
        @if not(index($excludes, $property)) {
          #{$property}: $value;
        }
      }
    }
  }
}

/**
 * Set styling for a font variant, across breakpoints.
 *
 * @see mixin map-styling().
 * Example usage of this mixin, where line-height is excluded:
 * @include typography($font__h4, (excludes: ('line-height'));
 *
 * @param {map} $font. See available maps in _variables.typography.scss.
 * @param {options} $options - List of options. Supports:
 *    - excludes : list - List of properties to ignore
 */
@mixin typography($font, $options: ()) {
  $excludes: if(
    map_has_key($options, "excludes"),
    map_get($options, "excludes"),
    ()
  );

  @include map-styling(
    $font,
    (
      excludes: $excludes,
    )
  );
}

/**
 * Applies text ellipsis styling with a customizable number of lines.
 *
 * This mixin applies text ellipsis using the -webkit-line-clamp property,
 * The default number of lines is 2, but can be customized as needed.
 *
 * @param {number} $lines - The number of lines to display Default is 2.
 */
@mixin text-ellipsis-truncation($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
