$c-btn-border-active: $c-text-primary-black;
$c-btn-border-disabled: $c-global-tertiary-2;

.btn-icon {
  margin-left: 16px;
  color: inherit;
}

.btn-collapsible {
  margin-left: 16px;
  display: none;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border: 1px solid $c-btn-border-active;
  cursor: pointer;
  white-space: nowrap;

  @extend %text-button-placeholder;

  &:hover {
    .btn-collapsible {
      display: block;
    }
  }

  &[disabled] {
    border: 1px solid $c-btn-border-disabled;
    color: $c-btn-border-disabled;
    fill: $c-btn-border-disabled;

    .arrow__body {
      stroke: $c-btn-border-disabled;
    }

    .arrow__head {
      fill: $c-btn-border-disabled;
    }
  }
}


.btn-xlarge {
  height: 48px;
  padding: 8px 86px;
}

.btn-large {
  height: 48px;
  padding: 0 86px;
}

.btn-medium {
  height: 48px;
  padding: 0 48px;
}

.btn-small {
  height: 40px;
  padding: 0 32px;
}

.btn-xsmall {
  height: 32px;
  padding: 0 24px;
}

.btn-filled {
  background-color: $c-text-primary-black;
  color: $c-text-primary-white;
}

.btn-outline {
  background-color: transparent;
  color: $c-text-primary-black;
}
