.content-list-page {
  @include block-spacing();
  background-color: $color__global-primary;
}

.content-list-page__heading {
  @include layout-container($block-max-width__large);
  @include typography($typo__h2);
}

.content-list-page__filters {
  @include layout-container($block-max-width__large);

  display: flex;
  flex-direction: column;
  gap: $s-sm;
  margin-top: $s-lg;
  margin-bottom: $s-lg;

  @include media-query__small {
    flex-direction: row;
  }
}

.content-list-page__filter--right {
  @include media-query__small {
    margin-left: auto;
  }
}

.content-list-page__filter--date {
  @include media-query__small {
    // Use the same width as allocated for dropdowns. This should be wide
    // enough to show all elements when using the j. M Y format e.g.
    // 01. jan 2024
    // @see src/stories/Library/dropdown/dropdown.scss
    width: 230px;
  }
}
