.content-list-page {
  @include block-spacing();
  background-color: $color__global-primary;
}

.content-list-page__heading {
  @include layout-container($block-max-width__large);
  @include typography($typo__h2);
}

.content-list-page__subheading {
  @extend %rich-text;

  @include layout-container($block-max-width__large);
  @include typography($typo__body-small);
  margin-top: $s-lg;
}

.content-list-page__filters {
  @include layout-container($block-max-width__large);

  display: flex;
  flex-direction: column;
  gap: $s-sm;
  margin-top: $s-lg;
  margin-bottom: $s-lg;

  @include media-query__small {
    flex-direction: row;
  }
}
