.favorites-list-mc {
  background-color: $c-global-tertiary-2;
  color: $c-text-primary-white;
  border-color: $c-text-secondary-gray;

  @include breakpoint-m {
    padding: $s-6xl;
  }

  &--bright {
    background-color: $c-global-primary;
    color: $c-text-primary-black;
    border-color: $c-global-tertiary-1;

    @include breakpoint-m {
      padding: $s-6xl;
    }
  }

  &__title {
    text-align: center;
    padding: $s-lg;

    @include breakpoint-m {
      padding-bottom: $s-6xl;
    }
  }
  &__title--left {
    text-align: left;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    margin-bottom: $s-md;
  }

  &__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    @include breakpoint-m {
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}

.favorites-list-mc-material {
  border: 1px solid $c-text-secondary-gray;
  padding: $s-30;
  display: flex;
  width: 100%;
  position: relative;
  height: 350px;

  &--bright {
    border: 1px solid $c-global-tertiary-1;
  }

  &__favourite {
    position: absolute;
    top: $s-10;
    right: $s-10;
  }

  &__cover-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $s-10;
  }

  &__meta {
    position: absolute;
    left: 10px;
    bottom: $s-10;
    width: 100%;
    padding-right: $s-10;
  }

  &__title {
    @extend %text-body-medium-regular-placeholder;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &__author {
    @extend %text-body-medium-regular-placeholder;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
  }
}
