.button-box {
  background-color: $color__global-primary;
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  flex-direction: column;
  margin-bottom: 10px;

  @include media-query__small {
    align-items: center;
    flex-direction: row;
  }
}

.button-box--sticky-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $s-md;
  margin-bottom: 0px;
  z-index: $z-20;

  @include media-query__small {
    padding: $s-lg $s-7xl $s-lg 0;
    bottom: $s-5xl;
    right: $s-5xl;
    left: $s-5xl;
  }
}
