.find-library-dialog {
  display: flex;
  flex-direction: column;
  gap: $s-lg;
}

.find-library-dialog__title {
  @include typography($typo__h3);
}

.find-library-dialog__location {
  @include typography($typo__lib-base);
  display: flex;
  align-items: center;
  gap: $s-xs;
  text-decoration: underline;
  cursor: pointer;
}

.find-library-dialog__location-group {
  display: flex;
  flex-direction: column;
  gap: $s-md;
}

.find-library-dialog__location-list {
  display: flex;
  flex-direction: column;
  gap: $s-sm;
}

.find-library-dialog__location-list__title {
  @include typography($typo__lib-label);
  color: $color__global-grey;
}

.find-library-dialog__location-list__item {
  border: 1px solid $color__global-tertiary-1;
  padding: $s-md;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-align: left;
  outline: none;
  min-height: 92px;
  align-items: center;

  &:focus,
  &:hover,
  &--selected {
    outline: 2px solid $color__global-black;
    outline-offset: -1px;
    border-radius: 2px;
  }
}

.find-library-dialog__location-list__item__name {
  @include typography($typo__body-medium);
  color: $color__text-primary-black;
}

.find-library-dialog__location-list__item__address {
  @include typography($typo__small-caption);
  color: $color__text-secondary-gray;
}

.find-library-dialog__location-list__item__distance {
  @include typography($typo__body-medium);
  color: $color__text-primary-black;
  white-space: nowrap;
}

.find-library-dialog__error-message {
  @include typography($typo__small-caption);
  background-color: $color__global-secondary;
  padding: $s-md;
  display: flex;
  align-items: center;
  gap: $s-sm;

  img {
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
  }
}
