.datepicker {
  &__wrapper {
    position: relative;
    width: 100%;
    height: 48px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid $c-global-tertiary-1;
  }

  & .flatpickr-calendar * {
    font-family: "Noto Sans JP", sans-serif;
  }

  &__input {
    @extend %text-button-placeholder;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 $s-md;
    border: none;
    cursor: pointer;
  }

  &__opener {
    width: 44px;
    min-width: 44px;
    height: 48px;
    border-left: 1px solid $c-global-tertiary-1;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    margin: auto;
  }
}
