.status-label {
  height: $s-lg;
  padding: 0 $s-xs;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 11px; //keep text inside when it is wrapped

  @include media-query__small {
    padding: 0 $s-md;
  }

  &--danger {
    @include typography($typo__button);

    background-color: $color__signal-alert;
    color: $color__text-primary-white;
  }

  &--warning {
    @include typography($typo__button);

    background-color: $color__signal-aware;
    color: $color__text-secondary-gray;
  }

  &--info {
    @include typography($typo__button);

    background-color: $color__signal-success;
    color: $color__text-primary-white;
  }

  &--neutral {
    @include typography($typo__button);

    background-color: $color__global-primary;
    color: $color__text-secondary-gray;
  }

  &--outline {
    @include typography($typo__button);

    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: $color__text-secondary-gray;
  }
}
