.icon-favourite {
  cursor: pointer;
  height: $s-lg;
  width: $s-lg;
  color: $color__text-primary-black;
  stroke: $color__global-black;
  fill: none;

  &--filled {
    color: $color__identity-primary;
    stroke: $color__identity-primary;
    fill: $color__identity-primary;
  }
}

.icon-favourite--bright {
  color: $color__global-white;
  stroke: $color__global-white;
  fill: none;
}

.icon-favourite--bright-filled {
  stroke: $color__global-white;
  color: $color__global-white;
  fill: $color__global-white;
}
