.icon-favourite {
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: $c-text-primary-black;
  stroke: $c-text-primary-black;
  fill: none;

  &--filled {
    color: $c-identity-primary;
    fill: $c-identity-primary;
  }
}
