.fee-list-page {
  background: $color__global-primary;
  padding: $s-md;
  position: relative;
  z-index: 0;

  @include media-query__medium {
    padding: $s-6xl;
  }
}

.fee-list-bottom {
  display: flex;
  flex-direction: row;
}
.fee-list-bottom__paymenttypes {
  flex: 1;
}
.fee-list-bottom__actions > p {
  text-align: right;
}
.fee-list-bottom__actions > button {
  margin-left: auto;
}
