.advanced-search {
  width: 100%;
  padding: $s-odd-40 $s-md;

  background-color: $color__global-primary;

  @include media-query__medium {
    width: 100%;
    padding: $s-4xl $s-odd-157 $s-odd-64 $s-odd-157;
  }

  &__title {
    margin-bottom: $s-xl;

    @include media-query__medium {
      margin-bottom: $s-odd-48;
    }
  }

  &__clauses {
    @include typography($typo__button);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 $s-md $s-xl;

    @include media-query__medium {
      margin: 0 0 $s-lg $s-xl;
    }
  }

  &__clause {
    display: inline-block;
    margin-right: $s-xl;
    color: $color__text-primary-black;

    &.advanced-search__clause--grey {
      color: $color__global-tertiary-2;
    }
  }

  &__filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: $s-xl;
    margin-bottom: 46px;
  }

  &__filter {
    width: 100%;

    @include media-query__small {
      width: 260px;
      margin-right: $s-lg;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include media-query__small {
      flex-direction: row;
    }
  }

  &__back-button {
    align-self: center;
    margin-bottom: $s-lg;

    @include media-query__small {
      align-self: center;
      margin-bottom: 0;
    }
  }

  &__search-button {
    width: 100%;

    @include media-query__small {
      margin-left: $s-lg;
      width: 266px;
    }
  }

  &__divider {
    height: 1px;
    background-color: $color__global-tertiary-1;
    margin: $s-2xl 0;
    width: 100%;
  }

  &__cql-input {
    @include typography($typo__body);
    border: solid 1px $color__global-tertiary-1;
    width: 100%;
    margin-bottom: 46px;
    padding: $s-md;
    resize: none;
    background-color: $color__global-primary;
  }
}

.input-and-preview {
  display: flex;
  flex-direction: row;
  margin-bottom: $s-odd-64;

  &__input {
    width: 100%;

    @include media-query__medium {
      padding-right: $s-4xl;
      margin-bottom: $s-odd-48;
    }
  }

  &__preview {
    padding: $s-xl $s-odd-48 $s-xl $s-odd-64;
    background-color: $color__global-secondary;
    flex-direction: column;
    align-self: flex-start;
    display: none;

    @include media-query__medium {
      display: flex;
      width: 300px;
      min-width: 300px;
      padding: $s-2xl $s-xl;
    }
    @include media-query__large {
      padding: $s-xl $s-odd-48 $s-xl $s-odd-64;
      width: 420px;
      min-width: 420px;
      display: flex;
    }

    &--mobile {
      display: flex;
      width: 100%;
      margin-bottom: $s-odd-48;

      @include media-query__medium {
        display: none;
      }
    }
  }
}
