.dropdown {
  width: 100%;
  position: relative;
  border-color: $color__text-primary-black;

  &--grey-borders {
    border-color: $color__global-tertiary-1;
  }
}

.dropdown__desktop {
  width: 100%;

  @include media-query__medium {
    width: 50%;
  }
}

.dropdown__select {
  appearance: none;
  -webkit-appearance: none;
  min-width: 230px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  color: $color__text-primary-black;
  border-radius: 0;
  border: 1px solid;
  border-color: inherit;
  padding: 0 50px 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include typography($typo__button);

  // Chromeium based browsers will trigger focus when opening the dropdown
  @extend %default-focus-visible;
}

.dropdown__option {
  text-transform: capitalize;
  background-color: #f9f9f9;
  height: 400px;

  @include typography($typo__body-placeholder);
}

.dropdown__arrows {
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid;
  border-color: inherit;
}

.dropdown__arrow--bottom {
  margin-top: $s-xs;
  transform: rotateZ(180deg);
}

.dropdown__select--inline {
  @include typography($typo__tags);
  height: 100%;
  padding: $s-sm $s-md;
  min-width: 200px;
}

.dropdown__select--inline-body-font {
  height: 100%;
  padding: $s-sm $s-3xl $s-sm $s-md;
  min-width: 200px;
}

.dropdown__arrows--inline {
  height: 100%;
}
