.counter {
  position: relative;
  width: 92px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.counter__value {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;

  img {
    margin: $s-xs;
  }
}

.counter__label {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}

.counter__icon {
  margin-bottom: 2px;
}

.counter__circle {
  --border-progress: 100%;
  --stroke-width: 3;
  --stroke-dasharray: 288.5;
  --stroke-dashoffset: calc(
    calc((var(--stroke-dasharray) / 100) * calc(100% - var(--border-progress)))
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  stroke-width: var(--stroke-width);
  stroke-linecap: round;
  fill: none;
}

.counter__circle .counter__circle--path-bg {
  stroke-dasharray: var(--stroke-dasharray);
  stroke: $c-global-tertiary-1;
}

.counter__circle .counter__circle--path-stroke {
  transform-origin: 50% 50%;
  stroke-dasharray: var(--stroke-dasharray);
  stroke-dashoffset: var(--stroke-dashoffset);
  transform: rotate(540deg);
}

.counter__circle.counter__circle--animate .counter__circle--path-stroke {
  animation: pathStroke 1.75s ease, pathRotate 1.75s ease;
}

@keyframes pathStroke {
  0% {
    stroke-dashoffset: var(--stroke-dasharray);
  }
  60% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: var(--stroke-dashoffset);
  }
}

@keyframes pathRotate {
  0% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
