.status {
  border: none;

  &.status--cancelled,
  &.status--sold-out {
    background-color: $color__signal-alert;
    color: $color__global-white;
  }

  &.status--occurred {
    background-color: $color__global-black;
    color: $color__global-white;
  }
}

.content-list-item--status-parent {
  position: relative;

  .status {
    z-index: $z-10;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.content-list-item-stacked__content {
  .status {
    height: auto;
    margin-left: $s-md;
  }
}
