$MODAL_DETAILS_CONTAINER_WIDTH: 1000px;

.modal-details {
  flex-direction: column;
  align-items: center;
}

.modal-show {
  display: flex;
  opacity: 1;
}

.modal-details__container {
  margin: 0 24px;
  max-width: $MODAL_DETAILS_CONTAINER_WIDTH;

  @include breakpoint-s {
    margin: 0 45px;
  }
}

.modal-details__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-s {
    flex-direction: row;
    align-items: center;
    padding-top: 96px;
    width: 80%;
  }
}

.modal-details__cover {
  margin: 48px 0;
  @include breakpoint-s {
    margin: 0;
  }
}

.modal-details__material {
  margin: 0;

  @include breakpoint-s {
    margin: 0 46px;
  }
}

.modal-details__tags {
  display: flex;
  grid-column-gap: 8px;
  margin-bottom: 16px;
}

/* 
  We disable stylelint here since -webkit-box 
  uses ellipsis for truncating which we need.
  https://caniuse.com/?search=line-clamp
*/
.modal-details__title {
  display: block;
  /* stylelint-disable-next-line */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: normal;
}

.modal-details__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.modal-details__warning {
  margin-top: 40px;
}

.modal-details__list {
  display: grid;
  grid-row-gap: 10px;
  margin-top: 40px;
}

.modal-details__banner {
  width: 100%;
  margin-top: 128px;
}

.modal-details__close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 34px;
  transition: 0.3s;
  z-index: 2;

  &:hover {
    transform: rotateZ(90deg);
  }
}
