.modal-cta {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-cta__container {
  max-width: 550px;
}

.modal-cta__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-cta__link {
  display: flex;
  justify-content: center;
  margin-top: $s-md;
}

.modal-cta__button {
  padding: 0;
  width: 100%;
  @include media-query__medium {
    padding: 0 86px;
    width: auto;
  }
}
