.modal-cta {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-cta__container {
  max-width: 550px;
}

.modal-cta__buttons {
  display: grid;
  justify-content: center;
}

.modal-cta__link {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
