.modal-loan {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-loan__container {
  width: 100%;
  overflow: scroll;
}

.modal-loan__header {
  display: flex;
  align-items: center;
}

.modal-loan__list-container {
  display: grid;
  grid-row-gap: 100px;
}

.modal-loan__list {
  position: relative;
  margin-top: 24px;
  padding-bottom: 10px;
}

.modal-loan__count {
  position: absolute;
  top: -48px;
}

.modal-loan__list-materials {
  display: grid;
  grid-row-gap: 8px;
}

.modal-loan__list-materials--bottom-buttons-visible {
  padding-bottom: #{$s-75}px;
}
