.dpl-list-buttons {
  display: flex;
  justify-content: space-between;
  @extend %text-body-medium-medium;

  &__header {
    all: unset;
    height: 35px;
    position: relative;
    padding-right: 25px;
    display: flex;
    align-items: flex-end;
  }
  &__power {
    all: unset;
    position: absolute;
    right: 0;
    top: 4px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    &__button {
      @extend .mx-16;
      display: flex;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
