// Set styling across breakpoints, with possibility to exclude.
// Example usage of this mixin, where margin-top is excluded:
// @include map-styling($map, 'margin-top');
// ---
// @param {map} $map.
// @param {options} $options - List of options. Supports:
//    - excludes : list - List of properties to ignore
@mixin map-styling($map, $options: ()) {
  $excludes: if(
    map_has_key($options, "excludes"),
    map_get($options, "excludes"),
    ()
  );

  @each $breakpoint-name, $map-values in $map {
    $map-inner: map_get($map, $breakpoint-name);

    @include media-query__name($breakpoint-name) {
      @each $property, $value in $map-inner {
        @if not(index($excludes, $property)) {
          #{$property}: $value;
        }
      }
    }
  }
}

// Set styling for a font variant, across breakpoints.
// @see mixin map-styling().
// Example usage of this mixin:
// @include typography($font__h4, 'line-height');
// ---
// @param {map} $font - See available maps in _variables.typography.scss ($font__VARIANT).
// @param {options} $options - List of options. Supports:
//    - excludes : list - List of properties to ignore
@mixin typography($font, $options: ()) {
  $excludes: if(
    map_has_key($options, "excludes"),
    map_get($options, "excludes"),
    ()
  );

  @include map-styling(
    $font,
    (
      excludes: $excludes,
    )
  );
}

// Create media query, based on PX value.
// If you want to go by names (e.g. "medium"), use media-query__name().
@mixin media-query($breakpoint, $definition: "min-width") {
  // If we're meassuring by max-width, we want to remove a
  // pixel as the variables are the max width of the device.
  @if ($definition == "max-width") {
    $breakpoint: $breakpoint - 1;
  }

  @media screen and ($definition: $breakpoint) {
    @content;
  }
}

// Trigger media query, by using name as a parameter.
// Useful if you have the breakpoint name as a variable,
// as you cant use variables in mixin include names.
// ---
// @param {string} $breakpoint-name — E.g. 'mobile'.
@mixin media-query__name($breakpoint-name, $definition: "min-width") {
  // We're going mobile-first, so no MQ necessary here.
  @if ($breakpoint-name == "mobile") {
    @content;
  } @else {
    $breakpoint: map_get($breakpoints, $breakpoint-name);

    @include media-query($breakpoint, $definition) {
      @content;
    }
  }
}

// Defining explicit aliases for media queries, for editor auto-complete.
@mixin media-query__x-small {
  @include media-query("x-small") {
    @content;
  }
}

@mixin media-query__small {
  @include media-query("small") {
    @content;
  }
}

@mixin media-query__medium {
  @include media-query("medium") {
    @content;
  }
}

@mixin media-query__large {
  @include media-query("large") {
    @content;
  }
}

@mixin media-query__x-large {
  @include media-query("x-large") {
    @content;
  }
}

@mixin media-query__xx-large {
  @include media-query("xx-large") {
    @content;
  }
}
