$c-global-primary: #f6f5f0;
$c-global-secondary: #eee9e5;
$c-global-tertiary: #dbdbdb;

$c-identity-primary: #476e57;

$c-text-primary-white: #fff;
$c-text-primary-black: #000;
$c-text-secondary-gray: #484848;

$c-signal-success: #3aaa36;
$c-signal-aware: #f7bf42;
$c-signal-alert: #d5364a;

// *** Global colors ***
// Background
.bg-global-primary {
  background-color: $c-global-primary;
}

.bg-global-secondary {
  background-color: $c-global-secondary;
}

.bg-global-tertiary {
  background-color: $c-global-tertiary;
}

// Border
.border-global-primary {
  border-color: $c-global-primary;
}

.border-global-secondary {
  border-color: $c-global-secondary;
}

.border-global-tertiary {
  border-color: $c-global-tertiary;
}

// *** Identity colors ***
// Default skal være 100%
// Background
.bg-identity-primary {
  background-color: $c-identity-primary;
}

// Border
.border-identity-primary {
  border-color: $c-identity-primary;
}

// Color
.color-identity-primary {
  border-color: $c-identity-primary;
}

// *** Tones of identity colors ***
// 120%
// 80%
// 60%
// 40%
// 20%

// *** Text colors ***
// Color
.color-primary-white {
  color: $c-text-primary-white;
}

.color-primary-black {
  color: $c-text-primary-black;
}

.color-secondary-gray {
  color: $c-text-secondary-gray;
}

.bg-color-primary-white {
  background-color: $c-text-primary-white;
}

.bg-color-primary-black {
  background-color: $c-text-primary-black;
}

.bg-color-secondary-gray {
  background-color: $c-text-secondary-gray;
}

// *** Signal colors ***
// Background
.bg-signal-success {
  background-color: $c-signal-success;
}
.bg-signal-aware {
  background-color: $c-signal-aware;
}
.bg-signal-alert {
  background-color: $c-signal-alert;
}

// Border
.border-signal-success {
  border-color: $c-signal-success;
}

.border-signal-aware {
  border-color: $c-signal-aware;
}

.border-signal-alert {
  border-color: $c-signal-alert;
}

// Color
.color-signal-success {
  color: $c-signal-success;
}
.color-signal-aware {
  color: $c-signal-aware;
}
.color-signal-alert {
  color: $c-signal-alert;
}

// Hover colors ??
