@mixin container($size) {
  margin: 0 auto;
  @if $size == small {
    max-width: 768px;
  } @else if $size == medium {
    max-width: 1024px;
  } @else if $size == large {
    max-width: 1440px;
  }
}
