.hide-linkstyle {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Hide element visually but not from screen readers.
 *
 * https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/
 *
 * The class is intentionally called .hide-visually and not .visually-hidden.
 * Drupal which is a known consumer of the design system also has a
 * .visually-hidden class where the implementation is a bit different.
 * To avoid any conflicts we call our class something else.
 *
 * https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/system/css/components/hidden.module.css#L18-33
 */
.hide-visually {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
