.hide-linkstyle {
  text-decoration: inherit;
}

.hide-visually {
  @include hide-visually;

  &--on-desktop {
    @include media-query__name("small") {
      @include hide-visually;
    }
  }
}

.hide-on-desktop {
  @include media-query__name("small") {
    display: none;
  }
}

:root {
  --parent-bg-color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.capitalize-all {
  text-transform: uppercase;
}

.capitalize-first:first-letter {
  text-transform: uppercase;
}

.invert {
  filter: invert(1);
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

// When class is used on a block element it will show a loading ellipsis animation.
.text-loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis 1.7s infinite;
  -webkit-animation: ellipsis 1.7s infinite;
  -moz-animation: ellipsis 1.7s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.focus-styling {
  &:focus {
    outline: none;
    border: 1px solid $color__global-black;
  }

  &__input {
    &:focus {
      outline: none;
      border: 1px solid $color__global-black;
      background-color: $color__global-white;
    }
  }
}

.hr {
  border: none;
  border-top: 1px solid $color__global-tertiary-1;
  margin: 0;
}

.inline-icon {
  display: inline;
  margin: 0 0 -5px 5px;
}
