.hide-linkstyle {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Hide element visually but not from screen readers.
 *
 * https://www.accessibility-developer-guide.com/examples/hiding-elements/visually/
 *
 * The class is intentionally called .hide-visually and not .visually-hidden.
 * Drupal which is a known consumer of the design system also has a
 * .visually-hidden class where the implementation is a bit different.
 * To avoid any conflicts we call our class something else.
 *
 * https://git.drupalcode.org/project/drupal/-/blob/9.2.x/core/modules/system/css/components/hidden.module.css#L18-33
 */
@mixin hide-visually {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hide-visually {
  @include hide-visually;

  &--on-desktop {
    @include breakpoint-s {
      @include hide-visually;
    }
  }
}

.modal-btn-close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 22.5px;
  transition: 0.3s;
  z-index: 2;

  @include breakpoint-s {
    padding: 34px;
  }

  &:hover {
    transform: rotateZ(90deg);
  }

  & > img {
    width: 11.5px;

    @include breakpoint-s {
      width: 19.5px;
    }
  }
}

.modal {
  // This color is inherited by the <Counter /> component.
  --parent-bg-color: #f6f5f0;

  background-color: $c-global-primary;
  position: relative;
  opacity: 0;
  display: none;
  transition: opacity 0.3s;
  min-height: 100vh;
  height: 100%;

  &__screen-reader-description {
    @include hide-visually;
  }

  &__backdrop {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 15%, 1);
  }
}

%modal-padding,
.modal-padding {
  padding: $s-lg;
}

.modal-show {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
}

.modal-right {
  position: fixed;
  top: 0;
  left: initial;
  right: 0;
  max-width: 560px;
  width: 100%;
}

:root {
  --parent-bg-color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.modal-btn-fallback {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.capitalize-all {
  text-transform: uppercase;
}

.capitalize-first:first-letter {
  text-transform: uppercase;
}

.invert {
  filter: invert(1);
}

.cursor-pointer {
  cursor: pointer;
}
