$spacers: (8, 16, 24, 32, 48, 64, 80, 96, 112);

@each $space in $spacers {
  .m-#{$space} {
    margin: #{$space}px;
  }

  .mx-#{$space} {
    margin-left: #{$space}px;
    margin-right: #{$space}px;
  }

  .my-#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }

  .ml-#{$space} {
    margin-left: #{$space}px;
  }

  .mr-#{$space} {
    margin-right: #{$space}px;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}px;
  }

  .mt-#{$space} {
    margin-top: #{$space}px;
  }

  .p-#{$space} {
    padding: #{$space}px;
  }

  .px-#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }

  .py-#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  .pl-#{$space} {
    padding-left: #{$space}px;
  }

  .pr-#{$space} {
    padding-right: #{$space}px;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}px;
  }

  .pt-#{$space} {
    padding-top: #{$space}px;
  }
}
