.material-description {
  @include layout-container($layout__max-width--large);
  padding: $hero-padding-small;

  > h2.text-header-h4 {
    font-size: 24px;
  }

  &__content {
    max-width: $description-max-width;
    line-height: 160%;
  }

  @include media-query__medium {
    padding: $hero-padding-large;
  }

  // spacing between the description links
  &__links > * + * {
    margin-top: $s-md;
  }
}
