.material-description {
  max-width: 750px;
  padding: $hero-padding-small;

  > h2.text-header-h4 {
    font-size: 24px;
  }

  &__content {
    line-height: 160%;
  }

  @include media-query__small {
    padding: $hero-padding-large-content;
  }

  // spacing between the description links
  &__links > * + * {
    margin-top: $s-md;
  }
}
