.material-description {
  max-width: 750px;
  padding: $hero-padding-small;

  &__heading {
    @include typography($typo__h4);
    margin-bottom: $s-lg;
  }

  &__content {
    @include typography($typo__body-large);
    line-height: 160%;
    margin-bottom: $s-lg;
  }

  @include media-query__small {
    padding: $hero-padding-large-content;
  }

  // spacing between the description links
  &__links > * + * {
    margin-top: $s-md;
  }
}
