.header {
  border: 1px solid $color__global-tertiary-1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color__global-primary;
  position: sticky;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  z-index: $z-20;

  @include media-query__small {
    grid-template-columns: 1fr 105px;
  }

  @include media-query__medium {
    grid-template-columns: 250px 1fr 105px;
  }
}

.header__logo-desktop {
  display: none;
  border-right: 1px solid $color__global-tertiary-1;
  @include media-query__medium {
    display: block;
  }
}

.header__logo-desktop-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header__menu-first {
  border-bottom: 1px solid $color__global-tertiary-1;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.header__menu-navigation-logo {
  margin-left: $s-md;
  display: flex;
  align-items: center;
}

.header__menu-navigation {
  display: none;

  @include media-query__medium {
    display: flex;
    padding: 0 12px;
    height: 100%;
  }
}

.header__menu-navigation-mobile {
  display: flex;

  @include media-query__small {
    .pagefold-triangle-small {
      display: none;
    }
  }

  @include media-query__medium {
    display: none;
  }
}

.header__menu-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $color__global-tertiary-1;
}

.header__menu-navigation-item:hover {
  border-top: 1px solid transparent; // to prevent jumping
  border-bottom: 1px solid #000;
}

.header__menu-navigation-link {
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  color: $color__text-primary-black;
}

.header__menu-profile,
.header__menu-bookmarked {
  position: relative;
  border-left: 1px solid $color__global-tertiary-1;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  span {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 0 $s-xs;
    text-align: center;
  }

  @include media-query__small {
    span {
      bottom: $s-xs;
    }
  }

  .header__notification {
    position: absolute;
    width: $s-sm;
    height: $s-sm;
    border-radius: 100%;
    transform: translateX(10px) translateY(-12px);
  }
}

.header__menu-second {
  height: 100%;
}

.header__menu-search {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.header__menu-search-input {
  width: 100%;
  height: 100%;
  padding: 0 $s-lg;
  border: 0 solid transparent;
  background-color: transparent;
  font-size: $s-md;
  @include typography($typo__body);

  ::placeholder {
    color: $color__text-secondary-gray;
  }

  &:focus {
    background-color: $color__text-primary-white;
    border: 0 solid transparent;
    outline: none;
  }
}

.header__menu-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__menu-search-icon {
  position: absolute;
  right: $s-3xl;
}

.header__menu-dropdown {
  @include typography($typo__body);
  position: absolute;
  right: 0;
  top: 58px;
  background-color: $color__global-primary;
  padding: $s-xs 0;
  outline: $color__global-tertiary-1 solid 1px;
  z-index: $z-10;

  @include media-query__small {
    padding: $s-sm 0;
    right: 0;
    top: 72px;
  }
}

.header__menu-dropdown-item {
  width: 100%;
  padding: $s-xs $s-2xl;
  cursor: pointer;

  &:hover {
    background-color: $color__global-secondary;
  }
}

.header__menu-dropdown-item--highlighted {
  background-color: $color__global-secondary;
}

.header__menu-dropdown-icon {
  position: absolute;
  cursor: pointer;
  right: $s-lg;
}

.header__clock {
  border-left: 1px solid $color__global-tertiary-1;
  display: none;

  @include media-query__small {
    display: block;
  }
}

.header__clock-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__button {
  height: $s-odd-56;
  width: $s-odd-56;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-query__small {
    height: 70px;
    width: 70px;
  }
}

// The kebab casing conflicts with our naming convention.
#header__overlay.visible {
  /* stylelint-disable-line */
  display: grid;
}

// The kebab casing conflicts with our naming convention.
#header__overlay {
  /* stylelint-disable-line */
  display: none;
  z-index: $z-20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 384px 1fr;

  @include media-query__small {
    grid-template-columns: 384px 1fr;
  }
}

.header__overlay-main {
  background-color: $color__global-primary;
}

.header__overlay-backdrop {
  background-color: #000;
  opacity: 0.6;
}

.header__overlay-menu {
  margin-top: 96px;
  margin-left: $s-odd-56;
}

.header__overlay-menu-item {
  margin-bottom: $s-sm;
}

// The kebab casing conflicts with our naming convention.
#header__menu--close {
  /* stylelint-disable-line */
  position: fixed;
  padding: 30px;
}
