.header {
  border: 1px solid $c-global-tertiary-1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $c-global-primary;

  @include breakpoint-s {
    grid-template-columns: 1fr 105px;
  }

  @include breakpoint-m {
    grid-template-columns: 250px 1fr 105px;
  }
}

.header__logo-desktop {
  display: none;
  border-right: 1px solid $c-global-tertiary-1;
  @include breakpoint-m {
    display: block;
  }
}

.header__logo-desktop-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header__menu-first {
  border-bottom: 1px solid $c-global-tertiary-1;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.header__menu-navigation-logo {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.header__menu-navigation {
  display: none;

  @include breakpoint-m {
    display: flex;
    padding: 0 12px;
    height: 100%;
  }
}

.header__menu-navigation-mobile {
  display: flex;

  @include breakpoint-s {
    .pagefold-triangle-small {
      display: none;
    }
  }

  @include breakpoint-m {
    display: none;
  }
}

.header__menu-navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $c-global-tertiary-1;
}

.header__menu-navigation-item:hover {
  border-top: 1px solid transparent; // to prevent jumping
  border-bottom: 1px solid #000;
}

.header__menu-navigation-link {
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__menu-profile,
.header__menu-bookmarked {
  position: relative;
  border-left: 1px solid $c-global-tertiary-1;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  span {
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    padding: 0 4px;
    text-align: center;
  }

  @include breakpoint-s {
    span {
      bottom: 4px;
    }
  }

  .header__notification {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    transform: translateX(10px) translateY(-12px);
  }
}

.header__menu-search {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.header__menu-search-input {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  border: 0 solid transparent;
  background-color: transparent;
  font-size: 16px;
  @extend %text-body-medium-regular-placeholder;

  ::placeholder {
    color: $c-text-secondary-gray;
  }

  &:focus {
    background-color: $c-text-primary-white;
    border: 0 solid transparent;
    outline: none;
  }
}

.header__menu-search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__menu-search-icon {
  position: absolute;
  right: 24px;
}

.header__clock {
  border-left: 1px solid $c-global-tertiary-1;
  display: none;

  @include breakpoint-s {
    display: block;
  }
}

.header__clock-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__button {
  height: 56px;
  width: 56px;

  @include breakpoint-s {
    height: 70px;
    width: 70px;
  }
}

// The kebab casing conflicts with our naming convention.
#header__overlay.visible { /* stylelint-disable-line */
  display: grid;
}

// The kebab casing conflicts with our naming convention.
#header__overlay { /* stylelint-disable-line */
  display: none;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 384px 1fr;

  @include breakpoint-s {
    grid-template-columns: 384px 1fr;
  }
}

.header__overlay-main {
  background-color: $c-global-primary;
}

.header__overlay-backdrop {
  background-color: #000;
  opacity: 0.6;
}

.header__overlay-menu {
  margin-top: 96px;
  margin-left: 56px;
}

.header__overlay-menu-item {
  margin-bottom: 8px;
}

// The kebab casing conflicts with our naming convention.
#header__menu--close { /* stylelint-disable-line */
  position: fixed;
  padding: 30px;
}
