.instant-loan-arrow {
  width: $s-md;
}

.instant-loan-summary {
  background-color: $color__text-primary-white;
  display: flex;
  flex-direction: column;
  gap: $s-lg;
  @include media-query__small {
    flex-direction: row;
  }
  // Flips arrow icon with class .instant-loan-arrow
  // based on the value of aria-expanded in .instant-loan-summary
  &[aria-expanded="true"] {
    .instant-loan-arrow {
      transform: scaleY(-1);
    }
  }
}

.instant-loan-underline {
  display: flex;
  align-items: center;
  gap: $s-xs;
}

.instant-loan-branches {
  display: grid;
  gap: 1px;
}

.instant-loan-branch {
  background-color: $color__text-primary-white;
  min-height: $s-4xl;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}
