.search-result-element {
  padding: 24px;
  display: flex;
  gap: 1rem;
}

.search-result-element-content {
  display: grid;
  gap: 1rem;

  @include breakpoint-s {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  &__text {
    &__top {
      display: flex;
      align-items: center;

      &__series-number {
        margin-left: 12px;
      }
    }

    &__bottom {
      :first-child {
        margin-top: 16px;
      }
    }
  }
}

.search-result-element-availability {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
