.status-label {
  height: 24px;
  padding: 0 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;

  &--danger {
    @extend %text-button-placeholder;

    background-color: $c-signal-alert;
    color: $c-text-primary-white;
  }

  &--warning {
    @extend %text-button-placeholder;

    background-color: $c-signal-aware;
    color: $c-text-secondary-gray;
  }

  &--info {
    @extend %text-button-placeholder;

    background-color: $c-signal-success;
    color: $c-text-primary-white;
  }

  &--neutral {
    @extend %text-button-placeholder;

    background-color: $c-global-primary;
    color: $c-text-secondary-gray;
  }

  &--outline {
    @extend %text-button-placeholder;

    background-color: transparent;
    border: 1px solid #dbdbdb;
    color: $c-text-secondary-gray;
  }
}
